[2018-03-04 19:58] bzon opened #1 "Add testing and refactor accordingly"

[2018-03-04 19:59] bzon opened #2 "Use cobra and viper correctly"

[2018-03-04 19:59] bzon opened #3 "Code review before release"

[2018-03-04 20:00] bzon opened #4 "Add README"

[2018-03-04 20:00] bzon opened #5 "Add Dockerfile and create Dockerhub Repo Image"

[2018-03-04 20:01] bzon opened #6 "Add CI Pipeline"

[2018-03-07 12:15] bzon opened #7 "Use golang text templates when creating Teams JSON"

[2018-03-08 03:40] bzon opened #8 "Should be able to handle Multiple Teams webhook"

[2018-03-12 13:03] #4 closed

[2018-03-12 13:03] #5 closed

[2018-03-18 07:50] bzon commented on #1
https://github.com/bzon/promteams/pull/9

[2018-03-18 09:39] #1 closed

[2018-03-18 09:39] #6 closed

[2018-03-18 09:53] bzon opened #10 "Add release to github step in CircleCI"
Use https://github.com/aktau/github-release

[2018-03-22 15:20] #8 closed

[2018-03-22 15:20] bzon commented on #2
Fixed in https://github.com/bzon/prometheus-msteams/pull/11

[2018-03-22 15:20] #2 closed

[2018-03-23 03:23] bzon opened #12 "Allow users to customize the Teams message card"
Using the [Go templating engine](https://golang.org/pkg/text/template/), we can include a feature to let the user create their own YAML templates and feed it to **prometheus-msteams**. The teams message card creation reference is here https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference.

We can add a new function named **CreateCardFromTemplates** that will be ca

[2018-04-30 04:55] #3 closed

[2018-04-30 04:55] #7 closed

[2018-06-22 05:01] RickyCook opened #14 "Config file short flag incorrect"
In docker, running `/bin/promteams server -f /test.yaml`:
[code]

In [the readme](https://github.com/bzon/prometheus-msteams#binary-usage) it references -f for --config shorthand flag

[2018-06-22 05:07] RickyCook opened #15 "Config file doesn't work"
Command `cat $HOME/.prometheus-msteams.yaml` produces:
[code]

Command `/bin/promteams server` produces:
[code]

Command `/bin/promteams server --config /test.yaml` produces:
[code]

[2018-06-22 09:08] bzon commented on #15
Can you try making the connectors in yaml file a List?

—-
connectors:
- item1: xxxx
- item2: xxxx

I will fix the error message

[2018-06-22 09:24] #14 closed

[2018-06-22 09:25] bzon commented on #14
Fixed the misleading message in #16. The correct flag is `--config`

[2018-06-22 18:08] bzon commented on #15
@RickyCook please try using the latest docker image and see if the issue persist considering my advise above. 👌

[2018-06-28 07:50] #15 closed

[2018-07-24 20:37] daviddob opened #17 "Duplicate sections across cards."
Currently each event gets added as a section to a card so old alerts
are coming through again and again on new cards.

This bug can be replicated by taking the example test json and running
it back to back a few times. The first card will have 1 section, the
second two sections (1 duplicate), the third 3 sections (2 duplicates),
and so on.

[2018-07-24 21:21] bzon commented on #17
@daviddob good catch! I will observe this behavior the earliest tomorrow. Thanks for submitting a PR. 👍

[2018-07-25 09:52] #17 closed

[2018-08-10 02:29] hiscal2015 opened #19 "[Proposal] Allow empty connectors in config file"
Hi,

I tested prometheus-msteams these days, it is really a wonderful tool and better than the one wrote in python introduced in the official link I think.
Now I'm managing connectors with the config file by saltstack, it will dynamically create connectors from pillar values. But if no connectors defined, the service will be failed to start, looks like prometheus-msteams needs at least one connect

[2018-08-14 20:58] bzon commented on #19
@hiscal2015 currently, the server does not support hot reload, "a way of reloading the variables in memory if the config file changes". What you can do is just restart the server when Salt saw a diff and applied the change.

[2018-08-14 20:58] #19 closed

[2018-08-21 07:09] billaram opened #20 "Docker version is not working"
This is the error I am getting

[code]

[2018-08-21 10:27] billaram commented on #20
Hi, The Issue has been resolved, there is an additional environment variable `TEAMS_REQUEST_URI` which is not specified in the docs. It would be better if you add sample docker-compose config as well. BTW I m using `dockprom` compose as base for my prometheus server.

`docker-compose.yml`

[code]
`alert.config.yml`

[code]

[2018-08-21 10:27] #20 closed

[2018-08-21 10:31] bzon commented on #20
@billaram thanks! I will definitely see how I can improve the documentation when running in Docker.

[2018-08-24 12:38] dibya001 opened #21 "Getting unrecoverable error: unexpected status code 404 from http://promteams:2000/alertmanager"
Hi I am running prom2teams through docker-compose
my docker-compose.yml file:
 version: '2'
volumes:
    prometheus_data: {}
    grafana_data: {}
services:
  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./prometheus/:/etc/prometheus/
      - prometheus_data:/prometheus
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus

[2018-08-24 12:41] bzon commented on #21
Hi @dibya001 it seems like this is the same issue as https://github.com/bzon/prometheus-msteams/issues/20. Can you try adding `TEAMS_REQUEST_URI=alertmanager` in your docker container?

[2018-08-24 12:41] bzon commented on #21
@dibya001  please also provide the log of the docker container of prometheus ms teams :)

[2018-08-24 12:47] dibya001 commented on #21
Hi when I do docker-compose up it is for promteams it is saying
 promteams_1     | 2018/08/24 12:44:10 Adding request uri path //alertmanager
promteams_1     | 2018/08/24 12:44:10 prometheus-msteams server started listening at 0.0.0.0:2000

[2018-08-24 12:50] bzon commented on #21
@dibya001 try adding the `TEAMS_REQUEST_URI` this in your docker-compose promteams service:

[code]

[2018-08-24 12:51] bzon commented on #21
@dibya001 btw `TEAMS_INCOMING_WEBHOOK_URL` should be your Microsoft Teams Channel webhook..

[2018-08-24 12:57] dibya001 commented on #21
Still getting the same error
logs:
promteams_1     | 2018/08/24 12:52:00 Adding request uri path /"alertmanager"
promteams_1     | 2018/08/24 12:52:00 prometheus-msteams server started listening at 0.0.0.0:2000
alertmanager_1  | level=debug ts=2018-08-24T12:55:44.017107681Z caller=notify.go:668 component=dispatcher msg="Notify attempt failed" attempt=1 integration=webhook receiver=receiver err="un

[2018-08-24 13:31] #21 closed

[2018-09-06 12:46] dibya001 opened #22 "Getting status code 500 error while running thorugh docker"
Alert is being sent to the alert manager. Then it is not able to forward to msteams receiver I guess. I am getting the following error
" unexpected status code 500 from http://teamreceiver:2000/alertmanager"

[2018-09-06 12:53] bzon commented on #22
Can you try manually sending an alert to your teamreceiver.

[code]

Where `sample_alert.json` is like:

[code]

[2018-09-06 12:59] dibya001 commented on #22
I will create a file called alert.json?

[2018-09-06 13:04] dibya001 commented on #22
Yes Now it worked

[2018-09-06 13:07] bzon commented on #22
@dibya001  the curl commands works? Maybe you have an communication issue between alert manager and the prometheus-msteams. Please ensure that you can resolve the host `teamreceiver:2000` from your alertmanager host or container (if you are using docker).

[2018-09-06 13:14] dibya001 commented on #22
Hey I am seeing a weird issue When I curl manually with the ip address, then the prometheus alert manager which is running through docker is able to send an alert . So then when I restart docker-compose, it does not work

[2018-09-06 13:37] dibya001 commented on #22
When I am giving <servername>:2000/alertmanager inside .yml, it is saying not able to find host. But curl is working

[2018-09-06 13:44] dibya001 commented on #22
getting this error

 Error: 400 Bad Request
alertmanager_1  | level=debug ts=2018-09-06T13:44:12.769512Z caller=notify.go:668 component=dispatcher msg="Notify attempt failed" attempt=9 integration=webhook receiver=receiver err="unexpected status code 500 from http://teamreceiver:2000/alertmanager"

[2018-09-10 12:44] bzon commented on #22
@dibya001 may I see the log of the alertmanager container? I'm suspecting that you may have misconfigured something.

[2018-09-22 21:11] bzon commented on #22
@dibya001 feel free to reopen this issue if you still encounter errors. Please provide logs of the prometheus-msteams server/container as requested.

[2018-09-22 21:11] #22 closed

[2018-10-02 15:40] FewMagner opened #23 "Template Question"
Hey,

Can you tell me how to edit the template that is sent to MS Teams for example adding an external link - Is there a JSON template I can edit to include this?

I compared it to the Prom2Teams project where I was able to find the template, but I was not able to find it in this one. Can you point me in the right direction please.

Kind regards,
Laura

[2018-10-02 16:28] bzon commented on #23
@FewMagner Currently, the "template" (the card format) is hard coded. See [here](https://github.com/bzon/prometheus-msteams/blob/c7803878356811a4b70d85e037384a9ecfb56847/alert/teams.go#L71-L104). I based this format from the [teams card spec](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference).

What do you mean by adding an external link? If you want to add a

[2018-10-04 08:18] FewMagner commented on #23
Thank you @bzon.
That works perfectly - appreciate it :)

[2018-10-04 08:41] bzon commented on #23
Awesome! I’m closing this issue now.

[2018-10-04 08:41] #23 closed

[2018-10-07 08:13] #10 closed

[2018-10-15 08:16] DonMartin76 opened #25 "ConfigMap is always created in the default namespace"
Hi bzon,

Thanks for your work on this! Just a small remark: When using the helm chart, the config map is always created in the `default` namespace; if you deploy to a different namespace than `default`, the container will not start, as the config map cannot be mounted:

[code]

Because:

[code]

[2018-10-15 08:19] bzon commented on #25
@DonMartin76 ahh you are right. We can fix that easily.

[2018-10-15 08:34] #25 closed

[2018-10-15 08:35] bzon commented on #25
This is now fixed. Thanks for submitting an issue! @DonMartin76

[2018-10-31 13:57] onedomjohn opened #26 "Use proxy"
Thanks for the great app. Just wondered if there was a straightforward way of using it with a proxy server?

Thanks

[2018-10-31 14:00] bzon commented on #26
@onedomjohn do you mean running the app directly and not via docker? If yes, you can download the binary for linux and just dot slash it. See releases https://github.com/bzon/prometheus-msteams/releases.

[code]

[2018-10-31 14:03] onedomjohn commented on #26
Thanks for quick reply. I'm actually using it in Kubernetes but I need to forward to the webhook via a proxy. I'm thinking of setting it in the provided Dockerfile but my first test have failed.

[2018-10-31 14:08] bzon commented on #26
@onedomjohn ok, so you mean an outbound proxy? Hmm, you can mostly resolve that by adding proxy environment variables (HTTPS_PROXY, HTTP_PROXY, NO_PROXY) in the Deployment. This is a common strategy when running containers in a secured Kubernetes in general.

Currently, the helm chart doesn't support adding extra environments. So you may have to `kubectl edit deploy` your prometheus-msteams.

[2018-10-31 14:12] onedomjohn commented on #26
Yeah outbound. That's a good idea though - adding it to the deployment. I'll give that a go now.

[2018-11-01 04:06] #26 closed

[2018-11-05 11:03] cordula-grau opened #27 "Use summary instead of description"
Hi,

as the topic of the alert the summary and not the description should be used, I think.
The description is a more detailed explanation and may be to long for this.

https://github.com/bzon/prometheus-msteams/blob/28af43054976b1c027712ac273f100fa7431cbae/alert/teams.go#L126

Best
C.

[2018-11-05 16:32] bzon commented on #27
@cordula-grau at the moment, users are already used to the current formatting so it doesn't make any sense to apply this change now. However, this can be solved in the future when I found a time to work on https://github.com/bzon/prometheus-msteams/issues/12 which lets users use their own template to post to teams channel. :)

[2018-11-05 16:32] #27 closed

[2018-11-26 01:29] buntyray opened #28 "repeat_interval: 30s"
I have enabled a custom webhook with alert manger to self trigger Jenkins jobs when a alert is received. So when I am introducing the Microsoft Team proxy, my original webhook stops working. Basically I get alert via email and on teams that something is wrong but it does not triggers my original webhook to invoke Jenkins to take required action to start my job.

[2018-12-05 23:46] LudwigTirazona opened #29 "Chunk alerts when the request body is too large."
I found a bug wherein 413 "too large" errors from MS Teams are not being caught properly.

Looking at the logs will show that everything was okay, and that the HTTP response code was 200:
[code]
But it doesn't show up in MS Teams.

I took the request body from the logs and sent it with curl. This is what happens (verbose mode):
[code]
So, infuriatingly, the HTTP response code is 200, but because t

[2018-12-07 02:48] LudwigTirazona commented on #29
https://stackoverflow.com/questions/51957658/incoming-webhook-request-size-limits

Looks like one of the MS Support guys gave 28K as the limit per message.

[2018-12-07 20:42] bzon commented on #29
@LudwigTirazona

Can I have the sample json payload so I can test it on my own? Please redact sensitive values if needed.

[2018-12-07 22:57] LudwigTirazona commented on #29
This is the exact command I ran, with the data having been obtained from the logs (actual webhook endpoint redacted)
[code]

[2018-12-07 22:57] LudwigTirazona commented on #29
And these are logs from the issue-29 image:

[code]

[2018-12-07 22:58] LudwigTirazona commented on #29
I hope that gives a much better picture as to what's happening.

[2018-12-07 23:20] bzon commented on #29
@LudwigTirazona I see the problem better now. This is not an issue of prometheus-msteams, and the only thing that I can do is to improve what is shown in the logs which I'll be merging to the master branch now (v1.0.2).

This is a Microsoft Teams webhook issue which is caused by the payload size limit. You can reduce that payload size from your Prometheus alerting configuration. If you really want

[2018-12-15 14:03] bzon commented on #28
@buntyray from what I understand you originally had a Jenkins job that is waiting to be notified by Prometheus alert manager. That Jenkins job is used to send do some operations with whatever data that Prometheus has sent to it.  Sorry, but this is a Prometheus alert manager configuration and has nothing to do with prometheus-msteams.

[2018-12-15 14:03] #28 closed

[2019-01-10 12:18] vrathore18 opened #31 "getting connection refused error while connecting http://localhost:2000/alertmanager"
I installed via helm:

helm install --name prometheus-msteams ./prometheus-msteams --namespace monitoring

I didn't use the custom config.yaml instead I updated the values.yaml

[code]

When I am getting an error:
level=error ts=2019-01-10T12:15:31.712451123Z caller=dispatch.go:280 component=dispatcher msg="Notify for alerts failed" num_alerts=1 err="Post http://localhost:2000/alertmanager: dial t

[2019-01-10 12:20] bzon commented on #31
Is this an error from prometheus? If yes, **localhost** should be the Kubernetes service name of the prometheus-msteams.

[2019-01-10 12:30] vrathore18 commented on #31
@bzon thanks for helping. I didn't get you. I am able to get the notification on slack.

When I ran kubectl get svc -n monitoring

[code]
 I tried  http://prometheus-msteams:2000/alertmanager
getting this error: Could not resolve host: prometheus-msteams

[2019-01-10 12:32] bzon commented on #31
Can you try if you can resolve prometheus-msteams:2000 using **curl** or **nc** from the prometheus instance/pod where you got the following error:

[code]

[2019-01-10 12:35] vrathore18 commented on #31
Nope. I am not able to resolve the http://prometheus-msteams:2000 using curl.

[2019-01-10 12:36] bzon commented on #31
Is your prometheus instance running in the Kubernetes cluster?

[2019-01-10 12:37] vrathore18 commented on #31
Yes. prometheus is up and running. I am getting notifications on slack, aws sns. I want to implemenet for teams. please suggests what to do

[2019-01-10 12:39] bzon commented on #31
You may have a firewall issue with port 2000 in your cluster. Basically, you should be able to curl prometheus-msteams.monitoring.svc.cluster.local:2000 from any pod in the monitoring namespace.

[2019-01-10 12:41] vrathore18 commented on #31
So there any way I can change the port number?

[2019-01-10 12:44] bzon commented on #31
You can either change it using `kubectl edit svc` or use helm upgrade/install with `--set service.port=<Your Preference Port>`

[2019-01-10 12:48] vrathore18 commented on #31
I changed the port now:

prometheus-msteams                    ClusterIP      172.20.137.248   <none>             9094/TCP            1h

Still getting the same error. :(
[code]

[2019-01-10 12:50] bzon commented on #31
@vrathore18  are you running curl inside the pod? It may be your kubernetes dns..

Can you try using prometheus-msteams.monitoring.svc.cluster.local instead of just prometheus-msteams.

And instead of using curl, try the ff commands:

[code]

[2019-01-10 12:57] vrathore18 commented on #31
No. I am running on the cluster.

[code]

[2019-01-10 13:02] bzon commented on #31
Hold on. This is confusing. Are you running Prometheus in an EC2 instance or in a Kubernetes Pod? I think you are running Prometheus in an EC2 instance hence you can't resolve the Kubernetes service names.

[2019-01-10 13:09] vrathore18 commented on #31
I am running kubernates in aws. So all my kubernates setup is in ec2 instance.

This is what I am getting. you want to run inside any pod?
[code]

[2019-01-10 13:18] bzon commented on #31
I understand that. What I don't understand is why you are running the troubleshooting from the VM and not from the Pod.

Referring to your comment a while ago, you are running it from the EC2 VM..

[code]

[2019-01-11 10:01] bzon commented on #31
@vrathore18 Congrats!

Maybe try doing something like:

[code]

So the same labeled alert goes to different receiver at the same time.

[2019-01-11 10:01] #31 closed

[2019-01-14 08:34] shabeermm commented on #29
Hi, Any resolution to this problem from prometheus-msteams code end ?
group by is not solving the problem, when we have prod environments with huge data of similar groups by various fields.
If MS Teams is not accepting huge data, should we think of sending huge data in Chunks from  prometheus-msteams?

[2019-01-14 08:44] bzon commented on #29
Maybe we can by splitting the big json data to multiple alerts and send them off concurrently? I need a sample json data to experiment and validate this feature. I’ll re-open this issue.

[2019-01-14 08:52] LudwigTirazona commented on #29
If you're reopening this, then I'd love to help with generating the data
needed.

I can provide it in a day or two.

On Mon, Jan 14, 2019, 16:44 John Bryan Sazon <notifications@github.com
wrote:

[2019-01-14 09:30] bzon commented on #29
Can you send me a sample big json data? And also another sample of how you think it should be splitted? Sorry, I will not have much time to work on this for the rest of the week.

[2019-01-14 12:00] shabeermm commented on #29
Please find the attached log file from my dev system, which has the request and response along with error returned by MS Teams (i have renamed/masked the environment specific text/details for security). Also find the corresponding big json data (attahced) along with curl command using which we can reproduce the error.

I think data can be spitted based on number of alerts (which should be configur

[2019-01-16 19:20] Knappek commented on #29
I was checking whether Slack has similar limits, and it has (indeed)[https://api.slack.com/changelog/2018-04-truncating-really-long-messages]. But the difference to MS teams is that Slack handles it automatically, which is exactly what is suggested in this enhancement to split messages.

So I think this is a good idea, but I would not do it like suggested from @shabeermm , I would rather check in

[2019-01-16 19:25] bzon commented on #29
@Knappek that looks like a more efficient way to handle this problem.

[2019-01-16 19:42] Knappek commented on #29
Cool, when I find some time, I can implement it and send a PR.

[2019-01-16 20:34] bzon commented on #29
@Knappek Nice! looking forward to your PR.

[2019-01-20 12:21] Knappek commented on #29
I implemented some fixes, should work as expected now....definitely a sign to improve unit testing. I will work on that soon.

[2019-01-24 19:36] Knappek commented on #29
@LudwigTirazona and @shabeermm maybe you don't need this enhancement anymore, please give us any sign.

@bzon let's wait until sunday and then simply merge it?

[2019-01-25 05:49] LudwigTirazona commented on #29
I definitely still need it.. Sorry I haven't been responsive, things
have gotten really hectic at work recently.

On Thu, 2019-01-24 at 19:36 +0000, Andreas (Andy) Knapp wrote:

[2019-01-25 09:41] #29 closed

[2019-01-25 09:51] bzon commented on #29
Hi folks, this is now available via v1.0.3 release. Thanks for the help @LudwigTirazona @shabeermm and @Knappek for the code enchancement!

[2019-01-30 02:47] bzon commented on #12
@Knappek I haven’t planned on working on this yet. Feel free to play around and see how you can bring this feature to life. Thanks.

[2019-02-08 05:20] shabeermm commented on #29
Thank you very much  knappek & bzon for fixing this. we have tested it on our dev env and it is working fine. Since i was on vacation, i could not test it earlier.

---------------------
time="2019-02-08T05:06:40Z" level=debug msg="Size of message is 153969 Bytes (~150 KB)"
time="2019-02-08T05:06:40Z" level=info msg="Sending out 12 messages ..."
time="2019-02-08T05:06:40Z" level=info msg="Microsof

[2019-02-09 11:47] Knappek opened #33 "Update Prometheus webhook integrations documentation"
The Prometheus documentation provides a list of integrations made by 3rd party projects using the webhook receiver: https://prometheus.io/docs/operating/integrations/#alertmanager-webhook-receiver.

This documentation is [open source](https://github.com/prometheus/docs#contributing-changes) and we should add the `prometheus-msteams` to the list.

[2019-02-14 07:53] alexandre-vaussant-axway opened #34 "Evolution for Warning and Critical cases"
Modification on teams.go

adding Orange Warning on your code (i m not authorize to push with my credentials) and a case if it's firing (warning/critical)

`// Copyright © 2018 bzon <bryansazon@hotmail.com>
//
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without res

[2019-02-14 07:56] bzon commented on #34
Please fork the repo and create a pull request.

[2019-02-14 08:56] bzon commented on #34
Update the description too please.

I agree that we can have a feature to change color cards during firing state based on x label.

I think we should not base the color coding from the prometheus label severity when a firing state is received.

**severity** is just a label and it other users may define it differently; priority, status, whatever.

I think we can handle this simply from flags. E.g:

[2019-02-14 11:00] Knappek commented on #34
Yes we can handle this with flags, another option is to handle it within #12 , something similar provided by [idealista's prom2teams templating approach](https://github.com/idealista/prom2teams/blob/master/prom2teams/resources/templates/teams.j2#L1-L9).
I am currently working on #12 but didn't have much time the last days. May idea is to provide everything via a template where the current implemen

[2019-02-14 11:09] bzon commented on #34
Yeah it makes sense to just provide a custom template providing we also generate json payload as a default template. This default template can be used as a reference by those who wants to customized it. 😃

[2019-02-14 11:47] Knappek commented on #34
Shall we close this issue then an reference it to #12 ?

[2019-02-19 13:47] sosoriov commented on #34
@Knappek I like the template idea. It sounds a good approach.

close it as is covered in #12

any idea when can it will be available?

[2019-02-19 14:13] #34 closed

[2019-02-19 20:54] Knappek commented on #34
@sosoriov unfortunately I had hell lot of stuff to do last days, but it's getting better now. Hopefully I can find some time at the weekend or next week to send a first PR.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-01 21:47] mlamutt opened #36 "Add ablility to use variables in url path"
Hi team,
First off, thanks for this app.  I would like to add a feature request to allow for variables to be used in the URL.  We have a use case where we have dozens of MS team channels that we are trying to set up, and it would very useful to be able to set up a single receiver that uses a variable to select the correct url path.  In the following example I am adding annotations for email and th

[2019-03-02 08:20] Knappek commented on #36
Hi @mlamutt, I don't think this is possible as the prometheus-msteams webserver has to provide an endpoint which the alertmanager can use. You can't expose endpoints dynamically.
It is possible though that you deploy the alertmanager together with the msteams webserver and parameterize it during the deployment.
@bzon what are your thoughts?

<sub>Sent with <a href="http://githawk.com">GitHawk</a><

[2019-03-11 18:26] Knappek commented on #12
Just realized that a message card is not only limited to a size of 14KB but also to a maximum number of 10 sections (see https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#notes-on-the-office-365-connector-card). Hence, we still have a bug that seemed to be fixed #29 . I will address this in the PR for this issue.

[2019-03-11 21:24] Knappek commented on #12
@bzon I have created another PR draft: #37. We might need to talk about how to handle too large message cards as I think this might not be possible anymore using this templating approach (see my last commit).
Therefore, I thought of make it super easy and send out a teams message for each and every prometheus alert.

[2019-03-12 18:49] Knappek commented on #12
@bzon is very busy these days, therefor I'd like to have some input from other folks. @LudwigTirazona @shabeermm @daviddob what do you think about sending out a teams message for each and every prometheus alert and don't combine multiple alerts to a single teams message card. Would that be a problem for you?

[2019-03-12 22:02] LudwigTirazona commented on #12
It's not too big of an issue for me, but what I foresee is that in some
cases, prometheus-msteams will hit the MS Teams API rate limit.

This will be more avoidable if each message sent to MS Teams has its
maximum allowed size well-utilized, rather than one alert/item sent per
message.

On Wed, Mar 13, 2019, 02:49 Andreas (Andy) Knapp, <notifications@github.com>
wrote:

[2019-03-12 22:49] Knappek commented on #12
Good point, I didn't know about the MS Teams api rate limit. I agree that it is more appropriate to bundle alerts to single message cards...

Then I'd like to verify my assumptions how to split messages in case that they are too big: Referencing a [detailed example teams message card](https://github.com/bzon/prometheus-msteams/blob/0ac6aa14e0adf2ad9998d182594f56bd5e1be8fc/alert/examples/message_ca

[2019-03-13 01:30] LudwigTirazona commented on #12
Correct! :)

[2019-03-15 18:55] mlamutt commented on #36
Hi @Knappek,   I am not clear on what is going on under the hood.  I am setting each endpoint in the prometheus-msteams config file manually, so the list of available endpoints should be there. I am asking for the webhook url to accept a variable, so we can use:

url: "http://localhost:2000/{{ .CommonAnnotations.msteams }}'
where ({ .CommonAnnotations.msteams }} = team1 or team2... teamX

instead

[2019-03-16 16:00] AndreasKnapp1812 commented on #36
@mlamutt I don't know if I understand you correctly. The config file where you define the `url` parameter is the config file of the prometheus alertmanager. I think there is already an issue for exactly what you've described: https://github.com/prometheus/alertmanager/issues/684 .

Does it help you?

[2019-03-16 16:00] Knappek commented on #36
@mlamutt I don't know if I understand you correctly. The config file where you define the url parameter is the config file of the prometheus alertmanager. I think there is already an issue for exactly what you've described: prometheus/alertmanager#684 .

Does it help you?

[2019-03-18 23:32] Knappek commented on #12
PR #37 implements the functionality described in this issue. Just a few little things missing (like updating Readme etc.) that I will add in the upcoming days.
Would be great if some people can already test it and provide some feedback. @sosoriov this might be of interest for you as well.

[2019-03-19 13:19] mlamutt commented on #36
@Knappek this is the issue that I am looking at.  In a different thread (https://groups.google.com/forum/#!msg/prometheus-users/Bg0eFP_Rd9Q/8CNT05zPBwAJ), it was suggested that I reach out to you to the help.

My goals is to be able to use a single Alertmanager Receiver in the config file instead of having to insert dozens of routes and receivers

example:
route:
  - match_re:
      channel: mstea

[2019-03-21 09:29] marcinkubica opened #38 "Alerts sorting is random"
Hi, nice stuff with this app!

Noticed for some reason alert card has keys sorted a bit randomly?

Sometimes Description is at the top, sometimes Summary. Basically every key.

Cheers

![image](https://user-images.githubusercontent.com/1593987/54743372-da99f080-4bbb-11e9-8b85-62adaf9cc66b.png)

[2019-03-21 20:20] Knappek commented on #36
@mlamutt Now I get your point. Hmm, I think theoretically it could be possible and might be an enhancement, especially if you have lots of teams channels.
It could be quite tricky though to achieve backwards compatibility. Either you have to expose the root `/` endpoint that is able to distribute the requests based on variables or maybe using the `?` operator where the url to prometheus-msteams lo

[2019-03-21 20:22] Knappek commented on #38
THanks @marcinkubica for reporting that, I haven't recognized it but I was able to reproduce this. I haven't observed it when using the templating approach which will be released in #37 , maybe that fixes it. Let's see...

[2019-03-21 20:36] Knappek opened #39 "Print information of latest release version for prometheus-msteams"
When there is a new release available for `prometheus-msteams` webserver, it would be great to inform existing users about that. Pretty similar what happens if you start an outdated version of minikube:
![image](https://user-images.githubusercontent.com/18685317/54783233-1f0ba780-4c21-11e9-8435-9170e06c8035.png)

[2019-03-22 07:19] Knappek commented on #12
@cordula-grau fyi, this enhancement solves #27 .

[2019-03-25 08:28] marcinkubica commented on #38
@Knappek  cool stuff!

[2019-03-25 22:41] Knappek commented on #12
opened PR #37 . Would appreciate some code review, otherwise I'll merge it in the next couple of days and create the minor release 1.1.0.

[2019-03-25 22:43] Knappek commented on #38
opened PR #37 . Would appreciate some code review, otherwise I'll merge it in the next couple of days and create the minor release 1.1.0.
I am pretty sure this will fix your issue @marcinkubica .

[2019-03-26 07:44] varundmishra opened #41 "Disable Selected Labels"
Is there a way to disable few labels? Currently we get all the labels associated with a particular metric, can this be made more selective?

[2019-03-26 11:37] Knappek commented on #41
There is an open PR #37 which enables you to define your teams message card based on a template. With some if else statements you can achieve what you want. I will merge this PR soon in a couple of days. I'd appreciate if you can test this PR beforehand and let me know your feedback :)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-03-26 20:06] Knappek commented on #41
Closing issue as it can be handled in #12

[2019-03-26 20:06] #41 closed

[2019-03-26 21:06] Knappek commented on #38
created a unit test for that: https://github.com/bzon/prometheus-msteams/pull/37/commits/365431cbcb9f1404dbfa666d1380c35764e7e788

[2019-03-26 21:06] #38 closed

[2019-03-26 21:33] Knappek commented on #12
This feature is now available in v1.1.0 release.

[2019-03-26 21:33] #12 closed

[2019-03-28 13:05] varundmishra commented on #41
@Knappek : Sure, I would give it a try.

[2019-04-01 15:56] sosoriov opened #42 "Error sending notifications msteams"
[code]

docker log:

[code]

perhaps it also important to mentioned that I had several issues when alerts does not contain anything, which is the case for "Watchdog" and some  targets down "AlertmanagerDown"
in order to get it working, i had to define a new route with a "fake" receiver for the cases mentioned before.

[2019-04-01 20:00] sosoriov commented on #42
Ah ok... Good enough!

Thanks

[2019-04-01 20:00] #42 closed

[2019-04-04 15:33] christophkluenter1234 opened #43 "latest version uses 100% CPU"
When running the latest version in kubernetes, we saw it using up 100% CPU.
The output was thousands of these lines:
`Failed to parse json with key 'sections': Key path not found"`
We don't overwrite the default template. So my first guess would be that
/default-message-card.tmpl might not be correct?

I will have another try on monday and report back.

[2019-04-04 21:03] Knappek commented on #43
Thank you @christophkluenter1234  for reporting this. Unfortunately I wasn't able to reproduce this issue. Can you provide some information how you've deployed prometheus-msteams? Did you use the helm chart?

This error message indicates that the message card template does not have the key "sections" which is required for [O365 Connector cards](https://docs.microsoft.com/en-us/microsoftteams/platf

[2019-04-04 21:51] psiservices-dstaples commented on #43
I've just deployed off the helm chart 1.1.0 helm chart and I'm getting the same behavior as well.  The only thing I changed from the chart values was the connector endpoint. At first glance it does look like the sections key is there.
[code]

[2019-04-05 06:22] Knappek commented on #43
Interesting. I'll have a look soon.
Additionally, I will exit the for loop in such a case to avoid getting 100% CPU workload.

[2019-04-05 08:20] kolikons commented on #43
Hi,
I've got the same issue
`poc_alertmanager_msteams      | time="2019-04-05T08:11:42Z" level=error msg="Failed to parse json with key 'sections': Key path not found"`
template:
`{{ define "teams.card" }}
{
  "@type": "MessageCard",
  "@context": "http://schema.org/extensions",
  "themeColor": "{{- if eq .Status "resolved" -}}2DC72D
                 {{- else if eq .Status "firing" -}}

[2019-04-05 14:05] Knappek commented on #43
Thanks for all the feedback. I will take a look into it latest on sunday.

[2019-04-08 19:14] Knappek commented on #43
@kolikons, @psiservices-dstaples or @christophkluenter1234 can you please set log-level to DEBUG and provide more lines of the log output?

[2019-04-09 07:22] kolikons commented on #43
Hi @Knappek
hm, very strange, right now i don't have like that issue, maybe some lables i've changed and it's fixed it
in any case the logs is the following:
`poc_alertmanager_msteams      | time="2019-04-09T06:53:29Z" level=info msg="Version: latest, Commit: 0578b32, Branch: HEAD, Build Date: 2019-03-26T21:29:58+0000"
poc_alertmanager_msteams      | time="2019-04-09T06:53:29Z" level=info msg="Par

[2019-04-09 20:55] Knappek commented on #43
I merged the PR that avoids having thousands of lines of `Failed to parse json with key 'sections': Key path not found` in order to avoid having 100% CPU used.
I'll create an additional PR solving the root cause of this issue until I have been able to reproduce it.

[2019-04-10 07:39] christophkluenter1234 commented on #43
the latest version works as expected. No abnormal CPU usage anymore

[2019-04-10 22:00] #43 closed

[2019-04-14 10:22] Kavyeshs41 opened #48 "Webhook message sent error in older version of prometheus."
I am using Prometheus v1.5.0 and alertmanager v0.5
it seems like this does not support older versions and throwing below error.

`level=error msg="Failed decoding Prometheus alert message: json: cannot unmarshal number into                                                                               Go struct field PrometheusAlertMessage.groupKey of type string"`

and failing to send message afte

[2019-04-14 13:55] Knappek commented on #48
Thanks @Kavyeshs41 for reporting this. Prometheus version 1.5.0 is more than 2 years old, alertmanager 0.5 even older. I don't know whether it makes sense to support these versions.
Wouldn't it make more sense for you to upgrade prometheus and alertmanager rather than having this implemented in prometheus-msteams?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-04-14 16:27] Kavyeshs41 commented on #48
Yes definitely i am planning to upgrade both Prometheus and alertmanager.
Thanks.

[2019-04-14 16:27] #48 closed

[2019-05-15 05:34] sidhantg2 opened #49 "level=error msg="Failed to parse json with key 'sections': Key path not found""
I have the following card.tmpl
[code]
Its throwing `error msg="Failed to parse json with key 'sections': Key path not found"` when running my application in minikube. Please help me out.

The sample payload which needs to parsed is below:
```"{\"receiver\":\"high_priority_receiver\",\"status\":\"firing\",\"alerts\":[{\"status\":\"firing\",\"labels\":{\"alert_team\":\"P2HOBJ\",\"alertname\":\"Insta

[2019-05-15 15:46] Knappek commented on #49
Thank you @sidhantg2 for reporting this issue. It might be related to what has been reported in #43. I'll try to look into it very soon and try to reproduce this error. I'll keep you posted.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-05-15 21:36] bforbis opened #50 "Publish to helm repo?"
Is it on the roadmap to publish this chart to https://github.com/helm/charts? So far I have been installing my charts using `requirements.yaml`, but there doesn't currently seem to be a way to do that with this repo.

[2019-05-16 04:46] sidhantg2 commented on #49
Hi @Knappek , I have found the issue. It was not able to parse this field `{\"description\":\"172.17.0.11:8081 of hobject job \\\"kube-api-scrape\\\" has been down for more than 1 minute.\"}` because of having double quotes in the text (""). I have removed the double quotes and it works fine.

[2019-05-16 14:47] Knappek commented on #50
We haven't thought about it yet. Can you briefly explain what you mean with that you install your charts using `requirements.yaml` and what are the advantages of doing so?

[2019-05-16 19:53] bforbis commented on #50
You may refer to Helm documentation on this
https://helm.sh/docs/developing_charts/#chart-dependencies

Helm recommendation is to use dynamically linked subchart dependencies if possible through requirements.yaml. It's a little more declarative about what your chart is depending on. This is similar to other package management systems like npm or maven.

Also, it makes this chart a little more disc

[2019-05-17 07:24] Knappek commented on #50
Got it, thanks! Yeah, I think it might be a good idea. Would you like to contribute?

[2019-06-05 22:01] wy100101 opened #51 "Allow using a configmap to declare connectors"
I would be nice to be able to declare the connectors in 1 or more configmaps so that connectors could be added separate from the service deployment.

[2019-06-08 17:47] Knappek commented on #51
@wy100101 can you briefly explain your use case? I don't understand why you would like to deploy the configuration separately from the app deployment.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-16 15:41] jangrewe commented on #49
@Knappek We're also getting that error with `v1.1.2` and the following (unescaped) JSON:

[code]

The full log output:
[code]

[2019-07-16 17:10] Knappek commented on #49
@jangrewe  thanks for reporting it and the detailed information. I'll have a look into this and keep you posted.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-17 21:58] Knappek commented on #49
Hey @jangrewe I was able to reproduce the issue. The problem is the "\n" that you have in the two `description` fields.
In order to produce a newline, you have to use "<br>" instead. So your alert should look like this:

[code]
Hope this solved your problem, otherwise feel free to reopen.

[2019-07-23 03:18] HuJake commented on #49
@Knappek

I tried to change _default-message-card.tmpl_

I want the field that the filter wants ($key)
But I found that I always appear after the change

=> Level=error msg="Failed to parse json with key 'sections': Key path not found"

Is the judgment condition of my increase incorrect?
Below is my change~

`
  "title": "Prometheus ({{ .CommonLabels.alertname }}) Alert ({{ .Status | toUpper }})",

[2019-07-23 19:52] Knappek commented on #49
@HuJake can you please post your complete template file? And please make sure to properly use the code snippet syntax, otherwise I am not able to use your template and test it by myself.

[2019-07-24 04:33] HuJake commented on #49
@Knappek  thanks your help, below it's template file,

[code]

[2019-07-24 22:43] Knappek commented on #49
@HuJake I have opened a PR to improve the log output when enabling debug mode. I have tested your template against this code using a [test alert request json](https://github.com/bzon/prometheus-msteams/blob/master/alert/testdata/prom_post_request.json). This provides me more information why you are getting an error where the raw teams message card that will be attempted to send to teams is:

[code

[2019-07-25 10:31] HuJake commented on #49
@Knappek
Thanks for your new code from the PR, this helps me a lot.

In addition, I tried to modify the template file and found that there is a format error in the composition of "facts": [...].

[code]
And I also want to ask can change the color or font in the fact[""] component ?
(I want to change the color for "$key" and "$value")

Thank you very much, if you can help investigate :-)

many than

[2019-07-25 16:08] Knappek commented on #49
@HuJake glad to help you solve the problem. I will soon merge the PR and make it available on version v1.1.3.

Regarding text style, you can do that, but apparently only for $value and not for $key (don't ask me why ;)). So, this example prints your values in red:

[code]

In general you should be able to use Markdown font style syntax, which is basically html style syntax (here is an example: htt

[2019-07-25 16:08] #49 closed

[2019-07-26 22:16] marcinkubica commented on #38
@Knappek apologies I had no chance to come back here to retest. Thank you very much for looking at it.

[2019-07-30 11:04] bzon commented on #36
@mlamutt I want to understand the problem more.

Is this what you are currently doing?

alert manager settings:

[code]

promteams connector settings:

[code]

What is the example set of configuration do you want to use? Can you provide an example user experience? 😄

[2019-07-31 12:15] leojonathanoh opened #54 "Bad card payload when title starts with a `[`, getting 400 from Teams"
I modified the `"title"` of the `card-with-action.tmpl`, changing `"title": "Prometheus Alert ({{ .Status }})",` to `"title": "[{{ .Status }}] Prometheus Alert"`:

`card-with-action.tmpl`:
[code]

Logs:

[code]

Alert:

[code]

As you can see there is no double-quotes at this part `,\"title\":[firing]: Prometheus Alert,` of the json.

Happens on `v1.1.2` and `v1.1.3`

[2019-07-31 12:19] leojonathanoh commented on #54
My bad, this happens only when the square bracket `[` is used, not `(`

[2019-07-31 17:45] Knappek commented on #54
@leojonathanoh in markdown a `[` is usually only used when defining a link like `[mylink](http://something.com)` otherwise I guess you have to escape it if you really want to have the `[`.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-31 17:56] leojonathanoh commented on #54
@Knappek didn't know that title was rendered in markdown. Either way, the template processor generates correct json, `\"title\": \"[firing]: Prometheus Alert\",` so am I right to say that the missing json was stripped in the card generation step that "markdown-escapes" the generated json?

[2019-08-01 07:09] Knappek commented on #54
Tbh, I'm not entirely sure whether title is also rendered in markdown when I'm thinking about it again ;).
Anyway, now I understand and see your point. I have to test it by my own and will figure out why the correct json doesn't produce a correct teams card.
Will keep you posted.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-08-01 09:02] leojonathanoh commented on #54
yeah. I shoud've said there's an issue with "json-escaping" instead of "markdown-escaping", the latter should have been handled at the template generation stage.

[2019-08-01 16:08] Knappek commented on #54
@leojonathanoh this is indeed a bug, thanks for reporting it. I have opened a PR that should fix this issue. I am still thinking about whether this is the correct solution. So I will not yet merge it.

[2019-08-04 17:09] #54 closed

[2019-08-05 07:56] dlevene1 opened #56 "level=error msg="Failed to parse json with key 'sections': Key path not found""
Hey,

Having issues with payloads from prometheus being sent to msteams. We've recently updated to the latest prometheus/alertmanager and version 1.1.4 of promethus-msteams.

Test alerts work fine, so its an error in the formatting which is coming out of default prometheus-operator helm chart install. I haven't looked too much further yet, but can see a few people do have templating errors. Given

[2019-08-05 08:55] bzon commented on #56
@dlevene1 hello, does it work ok with the previous prom-msteams version?

[2019-08-05 10:21] Knappek commented on #56
Hi @dlevene1 it seems you don't escape `\\\"DeadMansSnitch\\\"`correctly. It should be `\\\\"DeadMansSnitch\\\\"` in the Prometheus Alert.

We know that the debug output is not very good for debugging, we will improve this soon and output as json which will remove the other confusing backslashes. With this improved, you should be immediately see that in the `level=debug msg="Alert rendered in temp

[2019-08-06 01:05] dlevene1 commented on #56
Hey @Knappek, Thanks for the response.

So to confirm, this breaks it as it should be escaped?
https://github.com/helm/charts/blob/master/stable/prometheus-operator/templates/prometheus/rules/general.rules.yaml

Regards
David

[2019-08-06 07:54] dlevene1 commented on #56
I spent a bit more time looking at this today, and it seems it doesn't like the line breaks.

I modified the message here from the template to be a single line and removed the " as well to ensure it was ok.. and it works now - so looks like its not handling multiple line alerts/messages?

I used this website to help out
https://jsonformatter.curiousconcept.com/

[code]

[2019-08-10 08:46] Knappek commented on #56
@dlevene1 sorry for getting back to you that late, it was a crazy week. I don't think multilines is the problem, it should be able to handle it. Simply remove the `"` and everything should be fine. Can you test that and verify please?

[2019-08-10 08:48] Knappek commented on #56
If you still want to have the `"` this message should work:

[code]

I don't have time now to test this, but I can do that today in the evening and give you an update if you want.

[2019-08-12 00:03] dlevene1 commented on #56
Hey @Knappek,

I just left it as a single line, as it works for me. The concern is out of the "box" the helm chart promethus-operator and promethus-msteams don't work and display errors - I discovered 2 issues

1. The default alert noted in a previous post, is the default in promethus-operator helm chart - while this isn't in your control it does break the test alert.
2. When multiple alerts were

[2019-08-12 07:23] Knappek commented on #56
@dlevene1 I see your point and I agree that it should work out of the box. Would you like to open a PR with an updated default card template where summary can't be empty? Regarding the `"`  maybe this can be fixed as well in the template with the `reReplaceAll` function. What do you think?
I would love to test this as well, but I don't think I will find the time in the next 3 weeks I'm afraid.

[2019-08-13 06:42] dlevene1 commented on #56
Hey, I looked at this again today, and tried escaping like this

     "summary": "{{ $externalUrl }} - {{- reReplaceAll "(\"_)" "\\\\$1" $summary -}}",

But in the debug output - the reReplaceAll didn't have any effect on the alert rendered in the template file - am I missing something?

Even if I remove that reReplaceAll completely, it doesn't change the output as shown below.

[code]

[code]

[2019-08-13 18:01] Knappek commented on #56
hey, I'm sorry I was not able to test this by my own and I don't have a computer with me for the next weeks. I'd try to play around with escaping, I'm always confused with escaping so I am not able to suggest another solution I'm afraid 😀

[2019-08-26 21:03] frederiksf opened #58 "ReflectionTypeLoadException"
i deployed the latest version (1.1.4) and see the following exception in the log;

I dont receive the card in teams.

[code]

[2019-08-29 15:46] fuzzycow commented on #56
Go template 'js' function seems do produce quoting which works correctly with msteams:

Example:
[code]

[2019-08-30 07:28] dlevene1 commented on #56
unfortunately this didn't fix the problem, it did escape it differently though. Again, i'm not modifying what's in the promethus-operator helm chart upstream.

[code]

[code]

[2019-08-30 08:49] bzon opened #59 "Add an optional log format "JSON""
This will help users to easily troubleshoot the JSON payload that is received from AlertManager and sent to Microsoft Teams. I'm thinking of using the go-kit logger to enable this since it's the one I'm most familiar with.

If anyone wants to take this issue, just let me know here. :)

[2019-09-01 10:08] fuzzycow commented on #56
@dlevene1 in my case I also had to:
-  add quoting to summary section formatting (.CommonAnnotations.message)
- quote ExternalURL and GeneratorURL
- keep reReplaceAll, e.g.:  `{{ reReplaceAll "_" "\\\\_" $value | js }}`
- as I understand the default card template - templating may fail if alert arrives without labels (will have extra trailing comma)

Related to templating, but does not cause alert

[2019-09-02 06:56] dlevene1 commented on #56
thanks for the info - i've managed to get it working - I ended up modifying the source of the alerts as there's only a couple. If you have resolved it as a whole - could you perform a PR request to fix it for all?

[2019-09-07 16:27] Knappek commented on #56
Hello guys, sorry for getting back lately. Thank you @fuzzycow for helping out, if you could help improve the default template to make it work with whatever prometheus alert is coming, that would be great :).

[2019-09-23 16:48] reloaded opened #60 "Submit your helm chart to official repository?"
Hello,

Could you contribute your helm chart to the official Helm chart github repository?

https://github.com/helm/charts/blob/master/CONTRIBUTING.md

[2019-09-25 13:33] fuzzycow commented on #56
Sorry for the delay. Needed to check with workplace before posting.
Here's the revised template we are using. Perhaps it can be added as an alternative to default template.

Known gotchas:
- GeneratorURL is not useful
- assumes that "Annotations" is not empty (will fail to render if empty)
- still not enough validation
[code]

If time permits I will prepare proper PRs for this and possibly inclusi

[2019-09-26 19:41] Knappek commented on #58
Hi @frederiksf thanks for filing this issue. It would be really great if we can improve our log format with json #59 . This would make it easier to debug this issue.

[2019-09-26 19:57] Knappek commented on #58
Do you still have the issue? Maybe there were some issues with the Teams API, other people experiencing same issue: https://social.msdn.microsoft.com/Forums/en-US/9e49ae6e-712a-4343-810d-4f81aa3dc0ca/microsoft-teams-incoming-webhooks-stopped-working?forum=Office365forDevelopers

[2019-09-26 20:09] Knappek commented on #60
Duplicate to #50

[2019-09-26 20:09] #60 closed

[2019-09-26 20:11] Knappek commented on #56
Ha, never heard of sprig, looks promising. Take your time, looking forward to your contribution :)

[2019-10-02 14:38] byteSamurai opened #61 "Description field is used as header"
We are using the `description` field also for instruction how to get rid of the error for 1st and 2nd level support. Wouldn't it be better to use the `summary` field as head line instead of the description field.

For e.g. in your screenshot:

![image](https://user-images.githubusercontent.com/6654064/66053468-ad4ad980-e532-11e9-90a0-48e0c96eef64.png)

This would mean, the summary text is used for

[2019-10-03 09:30] Knappek commented on #61
You can easily do this by adapting the message card default template. See this docs how to use your own template: https://github.com/bzon/prometheus-msteams#customise-messages-to-ms-teams

[2019-10-03 09:31] Knappek commented on #58
@frederiksf I'll close this issue. Feel free to reopen it in case of further issues.

[2019-10-03 09:31] #58 closed

[2019-10-03 10:23] sosoriov opened #62 "Customise templates"
Is it possible to use the AdaptiveCard from Ms to customise the template, I've tried to use it but I always get an error. The predefined actions at this moment is quite limited.

Do you have any example for this?

Thanks in advance

[2019-10-03 11:36] AndreyLuchkin commented on #62
As far as I know, currently MS Teams incomming webhook doesn't support AdaptiveCard. So we have to wait until MS will implement it.

[2019-10-03 12:31] sosoriov commented on #62
@AndreyLuchkin  thanks for your reply.

mmm at the moment I'm a bit confused. What I want to have is an action button to silence the alerts, It would be great that when you click the button it displays an input box to enter a comment.

As far as I understand that would be possible using AdaptiveCards or am I wrong?

Perhaps do you have an example with something like this.

thanks in advance

[2019-10-03 20:31] Knappek commented on #62
Hi @sosoriov , I think what @AndreyLuchkin is trying to say is that Adaptive cards do not support Connectors which is needed to send data to MS Teams via a webhook.
But maybe you can achieve what you want: In prometheus-msteams, we are using [Office 365 Connector cards](https://docs.microsoft.com/en-us/microsoftteams/platform/concepts/cards/cards-reference#office-365-connector-card) which supports

[2019-10-04 09:08] ananthb opened #64 "Alerts do not work."
I've tried POSTing a sample alert with curl and I've tried configuring a route to this instance, but no alerts are fired.

I can see from the server logs, that prometheus-msteams receives the alert, but it fails with this error message:

`failed to template alerts: template: :1:12: executing "" at <{{template "teams.ca...>: template "teams.card" not defined`

I've even copy pasted the default temp

[2019-10-04 11:33] #64 closed

[2019-10-04 11:34] ananthb commented on #64
Alerts do work but my yaml file wasn't formatted correctly (doh!). Also it only works if I explicitly pass a template file flag. I feel that this is worth mentioning in the README somewhere.

[2019-10-04 11:54] Knappek commented on #64
Actually if you don't pass anything it should pick up the default template. If you run it locally, it only works of you have it running in the repository on the same level as the file location of the default template.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-04 12:08] ananthb commented on #64
I downloaded the binary from the releases tab, so I didn't get the template. I moved the template to the same folder as the binary and that worked. Maybe you could add the template to the releases as well? You'd need the binary and at least the default template to get running with this.

[2019-10-04 13:08] Knappek commented on #64
here you are...

[2019-10-04 13:32] ananthb commented on #64
Thank you!

[2019-10-04 14:38] sosoriov commented on #62
Hey guys!

I managed to solve the issue in combination with Alertmanager. So the idea is, you have an action button in msteams which opens the alertmanager UI to create the silence.

Below you will see the code that I used, My apologies in advanced because I'm not a Go developer so It was a bit of try and error.

[code]

[2019-10-04 14:38] #62 closed

[2019-10-04 21:01] Knappek commented on #62
@sosoriov sounds great. Would you like to create a PR and document it in the examples folder along with a dedicated Readme? I think it is worth for others to know as well.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-07 09:53] byteSamurai commented on #61
I know, but I consider the default not as a good approach. Change would be quite easy, so can we change it?

So if you would accept a PR here... :yum:

[2019-10-07 20:53] Knappek commented on #61
Haha now i get it 😃. Hmm tbh I don't care but this change would mean a major change which is not backwards compatible. @bzon what are your thoughts?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-10-11 09:19] sosoriov opened #67 "Question / Help: date time in card template"
Hi guys,

I'm wondering if there is a way to display the date and display the date and time of the alert in the teams card.

thanks for your help

[2019-10-13 10:45] Knappek commented on #67
If you pass the date of the alert from alertmanager, you should be able to display it like you do with any other fields, shouldn't you?

[2019-10-13 17:12] byteSamurai commented on #61
Just stumbled upon another optimization: Alertnames within teams should contain "release" or "firering like in mail subject, so one can see in the activity feed (not only in the channel) which alert is still active.

[2019-10-17 19:17] Knappek commented on #61
agree, that's a very good idea. Is this actually possible? On Teams for Mac I can only see that there is a new message, but I don't see the title or anything in the activity feed.
This is how it looks to me:
![image](https://user-images.githubusercontent.com/18685317/67040318-8809be00-f123-11e9-9c39-d6dc77fc1ed4.png)

[2019-10-17 19:19] Knappek commented on #61
oooh, got it, you mean the feed in teams. Okay, I can see the summary there. I think a PR on that will be accepted ;)

[2019-10-17 19:20] byteSamurai commented on #61
Very nice, will send it in Saturday. Thx in advance

[2019-10-24 08:40] sosoriov commented on #67
Indeed!

thanks for your help

[2019-10-24 08:40] #67 closed

[2019-11-08 09:45] Anjana-dyna opened #68 ""Microsoft Teams response text: Summary or Text is required""
I am using the Prometheus-msteams version 1.1.4 helm chart to integrate the latest Prometheus/alertmanager and MS teams in the kubernetes environment.

There are issues with payloads from Prometheus being sent to msteams. Thus the alert notifications are sometimes not sent correctly to MSteams. The logs of Prometheus-msteams container shows error:
[code]

Maybe this is an issue with the default ca

[2019-11-08 10:16] Anjana-dyna commented on #68
Here is the [PR](https://github.com/bzon/prometheus-msteams/pull/69) I prepared to solve this issue.

[2019-11-09 10:50] Knappek commented on #68
@Anjana-dyna thanks for filing this. I have added some comments on the PR.
Regarding your suggestions:
* I thought the docs are enough, but if you think this can be improved I am more than happy for your contribution :)
* there is already an open issue to have this chart in the official helm charts repo: #50 . I didn't have time to do that yet, again: I am more than happy for contributions ;)

[2019-11-09 10:51] #68 closed

[2019-11-12 06:28] Anjana-dyna opened #70 "Use custom message cards with helm chart"
When running as a docker container, the custom message card template file is mounted in the container via volume and then the TEMPLATE_FILE environment variable is set.

When running as a binary, the --template-file flag is used.

But there is no mention in the README about how to achieve this when deployed with the helm in a k8s cluster?

In the prometheus-msteams chart, the message card template

[2019-11-12 20:36] Knappek commented on #70
Thank you @Anjana-dyna for filing this issue. Super interesting, I wasn't aware of this limitation in helm, see also [this open PR](https://github.com/helm/helm/issues/3276).
I think you are correct with the above mentioned two workaround solutions.
For now, we have 2 options:
1. contribute to helm which might take a while to take effect, especially because helm 2 and 3 are diverging, see also [th

[2019-11-12 20:38] Knappek commented on #70
The above mentioned "public prometheus-msteams chart" obviously does not yet exist :D...but there is an open issue at least #50 ;)

[2019-11-13 05:38] Anjana-dyna commented on #70
Actually I have a solution as mentioned in the second option.
We can provide the template file in the values file like:
[code]
But the problem is, the configMap would change to:
[code]
That means, configmap would use `data` instead of base64-encoded `binaryData`.
I was worried if that change in the chart would be suitable for all or not.

Before this, i also tried the same like:
[code]
In this cas

[2019-11-13 13:23] VincenzoDo commented on #56
Hello,
is there any progress on this? I've tried to use a replaceAll for escaping " but no success there. Did anyone manage to do that?

[2019-11-18 21:35] Knappek commented on #56
@VincenzoDo I think there is no further progress yet. I am trying to understand your use-case: how does your incoming prometheus alert look like? I mean it is a json file, why do you want to replace quotes?

[2019-11-18 21:54] Knappek commented on #70
Thanks @Anjana-dyna. Closing this in regards to #71 .

[2019-11-18 21:54] #70 closed

[2019-11-20 17:25] karuneshk commented on #56
We are also facing same issue with error "Failed to parse json with key 'sections': Key path not found" with version v1.1.4 for some of our incoming prometheus alert. Any idea when this issue could be fixed, or any work around will be helpful.

[2019-11-21 08:47] VincenzoDo commented on #56
I solved the issue by using url encoding for all " (%22). I've also done some tests and find that the reReplaceAll for _ (https://github.com/bzon/prometheus-msteams/blob/master/default-message-card.tmpl#L28) seem to have no effect.

[2019-11-21 21:46] Knappek commented on #56
@karuneshk can you provide the prometheus alert that is causing the error please?

[2019-11-22 00:08] dlevene1 commented on #56
I resolved my particular issue by modifying the prometheus-operator helm chart my notes against it in the event I need to do an upgrade are;

[code]

[2019-11-22 20:52] Knappek commented on #56
Oh I wasn't aware of that. Thanks for the hint, I will review in the following days and maybe I had some reasons why to use it ;). Will keep you posted.

Interesting! I haven't seen an alert with quotes yet and I can't imagine how this looks like as the incoming request is json. Can somebody please provide an example alert which has quotes in it? Are the `"` escaped already with `\"`?

[2019-11-27 00:46] dlevene1 commented on #56
the very first post in this issue has the output from msteams

[2019-12-01 20:53] Knappek commented on #56
Finally I was able to reproduce the error. I fixed it by using

[code]

Make sure to also provide it for the `activityTitle`.
It should be used in conjunction with

[code]

but I don't know how to apply multiple functions in Go templating and I haven't found anything on google ^^. Anybody having some ideas?

[2019-12-03 23:08] revelnode opened #72 "level=error msg="Failed sending to webhook url ...: Forbidden""
Hello, I am trying to test out the functionality of the prometheus-msteam pod by directly sending it a message using your template.  I get this in retunr (URL modified for privacy)

[code]

I check the logs, and I see this:

[code]

I tested the webhook directly using the test messages and format from here - https://docs.microsoft.com/en-us/outlook/actionable-messages/send-via-connectors
And these

[2019-12-03 23:20] revelnode commented on #72
I just ran a test, and if I take the formated line of the log, which makes a json like the following:
[code]

And post it directly to the webhook, it works, I see the post on channel.

[2019-12-04 04:06] leojonathanoh opened #73 "Default log level should be INFO"
Generally for testing and developing it's great to use the `DEBUG`. For the general user however, `INFO` should be the default log level.

[2019-12-04 04:14] leojonathanoh opened #74 "Config.yml webhook secrets leaked on INFO log level"
Since [`v1.0` ](https://github.com/bzon/prometheus-msteams/blame/66869dfe1b35feddf3e217d2b42f21dba40a09cd/cmd/server.go#L220), the webhooks specified in `config.yml` are spit out in the container logs on the `INFO` log level.

As with best practices, these secrets should either be logged on only the `DEBUG` log level, or they could be logged on the `INFO` level but at least be redacted. This is pr

[2019-12-04 21:44] leojonathanoh commented on #56
On `v1.1.3` and `v1.1.4` I'm getting the error when there is a `'` char in any of these values of an alert. I haven't tested older versions yet. Hope it offers some kind of clue.

[code]

[2019-12-08 18:27] Knappek commented on #56
Thanks @leojonathanoh for the detailed explanations. Yes absolutely, I would very much appreciate to use a templating library like `sprig`. Currently I do not have much time though, hence I would highly appreciate some contributions :).

[2019-12-08 18:41] Knappek commented on #73
see #76 , would be great if you can review.

[2019-12-08 18:42] Knappek commented on #74
Thanks @leojonathanoh for the heads up. I think it is not a good idea to expose any kind of secrets at all, in general. So I removed it in #76 . Would be great if you can review.

[2019-12-08 18:53] Knappek commented on #72
That is weird. Could you please try to run `prometheus-msteams` locally and try send a message again (this is what I am always doing)? Do this by following these steps:

1.
[code]
    curl -X POST -d @prom_post_request.json http://localhost:2000/alertmanager
[code]

[2019-12-08 18:57] Knappek commented on #51
@wy100101 I close this. If you still think this should be tackled, reopen it.

[2019-12-08 18:57] #51 closed

[2019-12-09 05:07] AnandDevan commented on #56
I've run into this issue as well. it looks like line breaks trigger this bug.
See extra quote in the activityTitle field:

[code]

[2019-12-09 09:07] Knappek commented on #56
Exactly, it is needed to escape "_" when markdown is enabled, otherwise it will print text in italic

[2019-12-10 20:43] leojonathanoh commented on #74
would it be better if #76 was split up into two PRs, one addressing this issue and the other addressing #73?

I'd consider a fix for this to be a bugfix, whereas a fix for #73 I'd consider to be breaking for some users who have been reliant or expect some kind of verbose logging. I'm not familiar enough with the release cycle, so I'll leave it to you guys to decide whether to split the PR up :)

[2019-12-12 21:14] Knappek commented on #74
I don't think not printing secrets is a breaking major change. I would just go ahead and put it in a patch version upgrade. @bzon any concerns?

[2019-12-17 20:26] AnandDevan commented on #56
I've opened a PR to modify the default template to handle newline and single quote pls review: https://github.com/bzon/prometheus-msteams/pull/77

[2019-12-31 02:34] alexseys opened #79 "Multiple templates"
Is there a way to use different templates for different channels?

[2019-12-31 15:58] Knappek commented on #79
Unfortunately this is not yet supported. It's a valid feature request though, feel free to pick it up and open a PR :).

[2019-12-31 16:03] Knappek commented on #74
addressed in #76

[2019-12-31 16:03] #74 closed

[2019-12-31 16:04] Knappek commented on #73
addressed in #76

[2019-12-31 16:04] #73 closed

[2019-12-31 16:05] Knappek commented on #61
@byteSamurai do you still plan to implement this?

[2019-12-31 16:06] Knappek commented on #72
closing this issue as I think it's due to misconfiguration. @revelnode feel free to re-open if you disagree.

[2019-12-31 16:06] #72 closed

[2019-12-31 22:06] alexseys commented on #79
Thank you!
Sorry, not a developer by any means.

[2020-01-01 10:34] Knappek commented on #79
No worries, it's a valid feature request, let's reopen it.

[2020-01-03 11:20] Knappek commented on #56
should be fixed in v1.1.5, thanks to @AnandDevan 🎉

[2020-01-03 11:20] #56 closed

[2020-01-08 10:10] Josephine24 opened #81 "Fingerprint unavailable"
Fingerprint is now sent as part of the JSON payload from Alertmanager. I am not sure if this is added in the code cause when i tried to get Fingerprint in the template, I couldn't fetch the information. Whereas I am able to do the same for slack.

[2020-01-09 15:41] Knappek commented on #81
Hi @Josephine24, in theory it should be possible to extract it by modifying the template. Can you pls elaborate a little what and how you've tried it? What results you got and what you'd expect? Thanks.

[2020-01-10 09:17] Josephine24 commented on #81
Hi @Knappek, I tried fetching the Fingerprint in the card.tmpl but I'm getting error as shown below:
time="2020-01-10T09:13:51Z" level=error msg="failed to template alerts: template: card.tmpl:25:150: executing \"teams.card\" at <.Fingerprint>: can't evaluate field Fingerprint in type template.Alert"

I added {{.Fingerprint}} to fetch it as we do in alertmanager slack template. It works in slack b

[2020-01-10 18:54] Knappek commented on #81
Can you please post your entire card.tmpl?

[2020-01-14 06:09] Josephine24 commented on #81
{{ define "teams.card" }}
{
  "@type": "AdaptiveCard",
  "@context": "http://schema.org/extensions",
  "themeColor": "{{- if eq .Status "resolved" -}}2DC72D
                 {{- else if eq .Status "firing" -}}
                    {{- if eq .CommonLabels.severity "critical" -}}E61414
                    {{- else if eq .CommonLabels.severity "major" -}}D5CC00
                    {{- else if eq .Comm

[2020-01-14 06:10] Josephine24 commented on #81
@Knappek Posted the card.tmpl above. I have tried to fetch the {{.Fingerprint}} in activityTitle

[2020-01-14 16:31] nickadams675 commented on #56
@Knappek  Still seeing this occurring:
time="2020-01-14T16:25:20Z" level=info msg="/alertmanager received a request"
time="2020-01-14T16:25:20Z" level=error msg="Error calling json.compact: invalid character 'x' in string escape code"
time="2020-01-14T16:25:20Z" level=error msg="Failed to parse json with key 'sections': Key path not found"

Apologies to comment on a closed issue :(

[2020-01-14 17:16] AnandDevan commented on #56
@nickadams675 Can you also post the message json in the logs that we can look at to troubleshoot more

[2020-01-14 17:20] nickadams675 commented on #56
@AnandDevan Can you point me to the log file or do I need to increase verbosity?

[2020-01-14 17:46] nickadams675 commented on #56
I added:
          - name: PROMTEAMS_DEBUG
            value: "true"

Though it appears it may not be honoring this var, did I miss something?

[2020-01-14 18:04] AnandDevan commented on #56
it may be a few lines before this error in the logs. Here's an example someone submitted from earlier in the discussion, see: https://github.com/bzon/prometheus-msteams/issues/56#issue-476710435

[code]

[2020-01-14 18:28] nickadams675 commented on #56
@AnandDevan  Apologies I don't have debug level logs appearing in the containers' stdout, I've added PROMTEAMS_DEBUG:"true" but still no joy, any thoughts?

[2020-01-14 19:52] nickadams675 commented on #56
@AnandDevan and @Knappek

Ok so log level was changed in latest commit and 1.1.5 is hardcoded to INFO and not DEBUG. Redeployed 1.1.4 with the default template of 1.1.5 for testing:

[code]
Thanks!

[2020-01-14 19:55] AnandDevan commented on #56
can u set the  --log-level to be DEBUG and try (Default is now INFO)
[code]

[2020-01-14 23:18] AnandDevan commented on #56
@nickadams675
the "greater than" in your alert description is triggering this:
```"description\":\"CPU load is > 80%\\n```

I will look for a solution, but until we get one as a workaround you may want to use for your description: ```"CPU load greater than 80%"```

the js function in the template is replacing `>` with `\\x3E` causing the issue

[2020-01-14 23:49] nickadams675 commented on #56
@AnandDevan Thanks for the quick find! Working on changing this asap thanks!

[2020-01-15 21:40] Knappek commented on #81
Hi @Josephine24, thanks for providing the details. I need to investigate by my own, I'll keep you posted.

[2020-01-22 15:51] Knappek commented on #81
Hi @Josephine24, not yet, didn't have time yet to test, currently lots of stuff to do for work. I'll try to have a look into it on the weekend. I'm sorry for that.

[2020-01-22 20:08] jangrewe commented on #36
I've been banging my head against the wall because of the same issue, too many channels with too many webhooks...
The big problem: the `url` field of `webhook_configs` is just a `<string>` field that doesn't allow templating - and the Prometheus team refuses to change this (there's an issue in the AM repo about this).

The solution i'm working on: using labels in the alerts to set the desired endp

[2020-01-22 20:27] bzon commented on #36
@jangrewe

It’s been a while since this issue was opened. I’m actually quite confused now with what we want to achieve now.

Is this a feature request to dynamically choose the microsoft teams url to use based on the prometheus alert labels or annotations?

[2020-01-22 20:35] jangrewe commented on #36
Yes, for me/us, it's about being able to dynamically route alerts to specific Teams channels based on alert metadata (labels), without having to manage all the (Teams) webhook URLs via separate receivers - which is not possible in Alertmanager itself, as it doesn't allow templating in the URL field for a webhook_config.
I'll send you a PR when it's in a usable state...

[2020-01-23 06:18] Josephine24 commented on #81
@Knappek that's ok. No Probs. I am using this in one of my project where i have to use this Fingerprint for sure. Once you let me know i can use it. :)

[2020-01-23 17:03] jangrewe commented on #36
Here's a first proposal how this could be handled: https://github.com/bzon/prometheus-msteams/pull/83
I'm happy to discuss how this could be done better, as i'm not even remotely a Go dev ;-)

[2020-01-23 22:56] bzon opened #84 "Generic code refactoring"
I've been wanting to do this for a long time but I was really busy at work (still am). Since this project has matured a lot since the beginning (thanks to @Knappek ⭐️), I will own the initiative to improve the code quality of this app to make it easier for new contributors and also for me to review future PRs. I'm also hoping that the new changes will help maintainers debug issues more easily.

##

[2020-01-24 23:08] pradeepnnv opened #85 "MS teams card not having summary field if Alertmanager json has multiple alerts"
We observed that if AlertManager aggregates multiple alerts, MS teams card generated does not contain summary field and causing Teams to fail with Bad Request error.

`time="2020-01-23T14:18:34Z" level=info msg="Microsoft Teams response text: Summary or Text is required."
time="2020-01-23T14:18:34Z" level=error msg="Failed sending to the Teams Channel. Teams http response: 400 Bad Request"`

Pleas

[2020-01-25 10:39] code-chris commented on #50
I just published it to my own repo:
https://github.com/code-chris/helm-charts/tree/master/charts/prometheus-msteams

Repo:
https://code-chris.github.io/helm-charts

[2020-01-30 16:13] choppedpork opened #86 "Possible memory leak"
Hello!

First of all - thanks for prometheus-msteams, since my company has unfortunately decided to move to Teams from Slack it's been indispensable!

We have (twice now) noticed that sometimes prometheus-msteams starts using a _little bit_ too much memory for what it does. The second time it happened we captured the following via `docker stats`:
![image](https://user-images.githubusercontent.com/

[2020-01-30 17:03] choppedpork commented on #86
A small update - following silencing of the alerts we've added a memory limit of 1024m and restarted, after a couple of OOMs the situation seems to have magically resolved itself (so might no longer be able provide some information, unfortunately). Here's some screengrabs of memory usage over the past 6h and 24h respectively:
![Screenshot 2020-01-30 at 17 00 01](https://user-images.githubuserconte

[2020-01-30 17:40] bzon commented on #86
Hmm.. interesting. This is not usual. Do you know how many alerts are firing to Teams? My guess is there is too much alerts buffered in memory waiting to be sent to Microsoft Teams.

On the other note, I’m currently doing a refactor of code on a separate branch which adds metrics to see how many requests and connections the app currently serves. It’s also an overall code optimisation.

[2020-01-30 20:47] bzon commented on #84
Logging middleware example.

[code]

[2020-01-30 22:40] bzon commented on #84
Example tracing with Jaeger when the flag `-jaeger-trace` is true.

<img width="1140" alt="Screen Shot 2020-01-30 at 11 40 01 PM" src="https://user-images.githubusercontent.com/19391568/73496892-d896e580-43b9-11ea-8d5f-150ed533665e.png">

[2020-01-30 23:21] bzon commented on #86
@choppedpork can you try using the **latest** tagged image? It is a release candidate for #87.

If the problem persists, can you send the output of the http request from `/debug/pprof/goroutine` while the memory usage is high.

[2020-01-31 09:56] #84 closed

[2020-01-31 09:58] bzon commented on #85
Hi @pradeepnnv can you try using the **latest** image. We are going to make a new release out of it within this week. If the problem still persists, please provide the JSON logs (new format).

[2020-01-31 17:10] choppedpork commented on #86
Thanks @bzon - I saw #87 before raising this issue and quite excited about the instrumentation (always good to have this data for cases like this very one!).

As we've only since this twice (over the course of ~6 months I believe) and now have a memory limit in place what I might do is wait until the release and then ensure we've got scraping et al configured - we do have a dozen or so of these de

[2020-01-31 22:25] bzon commented on #86
@choppedpork the escaping was introduced in v1.2.0 and the latest now is v1.2.1 which is also available in helm.

Is it going to be a big effort to change the templating? We can probably think of a solution to bring it back to the previous way. Cc @Knappek

[2020-02-01 08:05] bzon commented on #81
@Josephine24 can you try using the latest release v1.2.1? It uses JSON structured logging by default which includes the payload from Alertmanager. If you manage to recreate the issue, please provide us the logs.

[2020-02-01 08:09] bzon commented on #79
I think this feature can be much easier to add with the latest code structure.

[code]

See also the use of  **converter** per each route.
https://github.com/bzon/prometheus-msteams/blob/24b1f51738c00f1aa7e702f437c2823ea854bc7c/cmd/server/main.go#L158-L167

[2020-02-01 08:12] bzon commented on #59
Fixed in #84

[2020-02-01 08:12] #59 closed

[2020-02-01 08:12] bzon commented on #85
Hi @pradeepnnv release v1.2.1 is now available.

[2020-02-01 08:27] bzon commented on #33
I created a PR for them https://github.com/prometheus/docs/pull/1539

[2020-02-02 11:48] bzon commented on #79
Fixed in #91 and in v1.3.0

[2020-02-02 11:48] #79 closed

[2020-02-02 11:50] bzon commented on #86
@choppedpork please test the release v1.3.0, we made the auto escape configurable.

https://github.com/bzon/prometheus-msteams/releases/tag/v1.3.0

[2020-02-02 13:05] bzon commented on #50
I have published the repo in https://github.com/prometheus-msteams/helm-chart.

[code]

[2020-02-02 13:05] #50 closed

[2020-02-02 16:27] bzon opened #93 "Grafana dashboard for end-to-end latency"
Create Grafana dashboard (JSON) for the Prometheus metrics **http_client_roundtrip_latency_bucket**. **http_client_roundtrip_latency** is the end-to-end latency, by HTTP method and response status.

[2020-02-04 14:49] choppedpork commented on #86
@bzon thanks! you seem to be releasing at a nearly impossible to keep up with pace, it feels like I barely had time to sneeze and we're 5 releases out of date already!
We'll be rolling out the latest 1.3.x version next week together with prometheus configs to ensure we've got metrics captured as well. I'm not sure if it even makes sense to keep this issue open considering the rewrite and how infre

[2020-02-04 18:26] bzon commented on #86
I did everything I could. 😃

[2020-02-04 18:26] #86 closed

[2020-02-06 09:32] Josephine24 commented on #81
Hi @bzon, I tried with the latest image and still facing the same issue. I am using the template that i have placed earlier. I tried with both {{.Fingerprint}} and {{ .fingerprint }}.

time="2020-02-06T09:18:02Z" level=error msg="failed to template alerts: template: card.tmpl:25:148: executing \"teams.card\" at <.Fingerprint>: can't evaluate field Fingerprint in type template.Alert"

[2020-02-06 09:58] bzon commented on #81
@Josephine24 are you using docker or kubernetes? The latest version is v1.3.2. The logs are formatted in JSON. The logs you presented are from an older version. Please check the release page.

[2020-02-06 10:00] bzon commented on #81
`docker pull quay.io/prometheusmsteams/prometheus-msteams:v1.3.2`

[2020-02-12 02:24] nickadams675 opened #97 "[BUG] Sporadic TLS Handshake timeouts and HTTP 500's"
**Describe the bug**
Seeing sporadic TLS handshake timeouts

**Version**
"latest"
[code]

**To Reproduce**
Inbound webhook from Prometheus AM

**Expected behavior**
Send modified webhook to MS Teams in a "relatively expected timeframe sub ~30 seconds"

**Screenshots**
N/A

**Additional context**
[code]

Thanks in advance!

[2020-02-12 06:40] bzon commented on #97
Can you consider the TLS handshake timeout? The default is 30s. Using env var, you can set ir from `TLS_HANDSHAKE_TIMEOUT`. See https://github.com/prometheus-msteams/prometheus-msteams/blob/master/README.md#configuration.

Please consider using release version v1.3.2 and not latest.

[2020-02-12 14:55] nickadams675 commented on #97
I've made the following changes in my deployment:
[code]

Though it looks like there's no dockerhub image for v1.3.2, v1.3.0 is the latest

[2020-02-12 14:56] bzon commented on #97
@nickadams675 use `quay.io/prometheusmsteams/prometheus-msteams`. We migrated to a new repository.

[2020-02-12 15:24] nickadams675 commented on #97
@bzon  awesome thanks! This appears to have resolved the timeouts. I'll continue to monitor over the next few days. Are there any other timeouts that I should be aware of? The link above shows the lowercase var names, can these be capitalised to be used in static yaml deployments?

[2020-02-12 15:29] bzon commented on #97
Good to hear that. The other HTTP client configuration is `-max-idle-conns` which can be overridden with `MAX_IDLE_CONNS`. For better monitoring, check out the new metrics from the release https://github.com/prometheus-msteams/prometheus-msteams/releases/tag/v1.3.2.

Also, these variables/configurations that you have are not parsed anymore.

[code]

[2020-02-12 17:54] nickadams675 commented on #97
Perfect, thank you! Appears that this has resolved the issues I've been seeing. I appreciate the info and fast replies!

Thanks for the continued support!!

[2020-02-12 17:54] #97 closed

[2020-02-14 15:47] tlecomte opened #98 "[FEATURE] Resolution message as a reply to the alert message, in same thread"
The Teams alert notifications are lovely, but it's hard to correlate the notifications that marks the start of the alert with the one that notifies that the alert is resolved.

**Describe the solution you'd like**
The notification that marks the resolution of the alert would be sent as a reply to the original one, in the same thread.

**Describe alternatives you've considered**
Scrolling in the Te

[2020-02-14 16:20] tlecomte commented on #98
I did not find if AlertManager (or an AlertManager webhook) can add an additional label to an alert (such as a Teams message id).

However, if the alert's fingerprint is included in the card's template, could the webhook search for any existing Teams message containing this fingerprint and then reply to that message ?

[2020-02-14 20:30] bzon commented on #98
It seems like only the Bot API can do this.

https://stackoverflow.com/questions/54340939/send-a-reply-to-a-message-older-message-via-a-incoming-webhook-to-microsoft-team

https://docs.microsoft.com/en-us/microsoftteams/platform/bots/what-are-bots

[2020-02-18 05:26] Josephine24 commented on #81
I will check on this and update if i am able to get the fingerprint. I am using both Docker and Kubernetes. Two different servers.

[2020-02-19 19:38] leojonathanoh opened #99 "Alert object should not be pre-json or pre-markdown escaped in card json-templating by default"
**Is your feature request related to a problem? Please describe.**
Introduced in `v1.2.0`, in particular https://github.com/prometheus-msteams/prometheus-msteams/pull/82, the alert object is pre-json and pre-markdown escaped for convenience, so that json-templating the card is simpler.

**Describe the solution you'd like**
The convenience of pre-json and pre-markdown escaping is great for new user

[2020-02-19 20:35] bzon commented on #99
I understand your concern and I will think about enabling it by default or not

cc @Knappek @AnandDevan

BUT

The auto escaping feature can be configured from the flag `auto-escape-underscores` or `AUTO_ESCAPE_UNDERSCORES` env var and it is true by default.

The updated format from v1.3.0 just enables users to define multiple template files and each with their own settings of auto escaping.

https

[2020-02-19 22:00] leojonathanoh commented on #99
yes, I was referring to the same flag. `jsonEscapeMessage` function is called, which calls jsonEncodeAlertmanagerKV` which is in reality, json-encoding followed by markdown-escaping, instead of having distinct flags for each step.

https://github.com/prometheus-msteams/prometheus-msteams/blob/253fb5913ec955bf591fac7944a722c2b84e44fb/pkg/card/templated_card.go#L294-L298

[2020-02-20 05:37] AnandDevan commented on #99
@leojonathanoh good point, can you please also add your template here and document how it breaks with the implemented changes

[2020-02-21 21:31] bzon commented on #99
This is my idea, we can have two default templates in the docker image. One is the latest file and the other is pre v1.2.

When auto escape is off (default) and the custom template file is not defined, the app will use the pre v1.2 template file. Else, when enabled and the custom template file is not defined, the app will use the latest template file.

This way, non custom template file users will

[2020-02-22 01:11] AnandDevan commented on #99
I understand the main issue raised by @leojonathanoh is he is unable to control the call to `jsonEncodeAlertmanagerKV`

I want to propose:
1.  Introducing a flag: `enable-json-encoding`  use that to control whether `jsonEncodeAlertmanagerKV()` gets called
2. Expecting that people who set `enable-json-encoding` to false will override and supply their own template and are expected to be power users

[2020-02-22 01:13] AnandDevan commented on #99
I looked at sprig templating but its not clear how it will help solve this for us, we are allowing users to compose a json and I am not sure how sprig helps with making a valid json

I have limited experience with Kubernetes and helm charts so that may be why. But if someone outlines how this can be implemented I can explore

[2020-02-22 12:20] leojonathanoh commented on #99
I haven’t had much time except to follow our discussion lightly, and I also don’t have extensive experience with using `sprig`. My suggestion is templating the card in yaml, and then the template is converted to json and everything else remains as it is in the application.

The breaking change would be to template in yaml. The upside is 1) the very obvious benefit would be the ability to leverage

[2020-02-23 13:41] AnandDevan commented on #99
oh yes ok, yaml template and yaml parsers to generate the card may do better. Thanks for that background @leojonathanoh

@bzon I think doing this in two stages is better I feel. I can work on this if you chart out how to proceed

[2020-02-23 14:17] bzon commented on #99
@AnandDev to start working on the new experimental templating without breaking the existing code, you have to implement the Converter interface.

https://github.com/prometheus-msteams/prometheus-msteams/blob/772efef46db6cd629ab83be55f9f66cc328664ad/pkg/card/converter.go#L15

Currently, there is one implementation which is the called the templatedCard struct. Copy that implementation and call it so

[2020-02-23 14:19] bzon commented on #99
But first, we need to decide now if we are to set the current auto escape feature to false by default. If yes, we need to revert the default template file too.

[2020-02-24 01:36] AnandDevan commented on #99
I agree @bzon we need to roll out a short-term fix.
My preference is to have the auto escape controlled with a flag and on by default and also keep a single default template But you decide and let me know

[2020-02-24 06:49] bzon commented on #99
@AnandDevan that is already how it is now

[2020-02-25 08:09] Josephine24 commented on #81
Thank you @bzon. It worked for Docker. Will check for K8s and let you know if it works fine 👍

[2020-02-25 19:33] allenxiang opened #101 "Please support http proxy"
Many companies do not allow direct internet access and services have to use internal http/https proxy to reach external urls like MS Teams webhooks. Please add a feature to support http proxy. Thanks.

[2020-02-25 22:29] bzon commented on #101
This should work automatically. Can you try setting up `HTTP_PROXY` or `HTTPS_PROXY` environment variables?

[2020-02-25 22:51] allenxiang commented on #101
Tested with the environment variables and it worked! Thanks a lot for your help!

[2020-02-25 22:51] #101 closed

[2020-02-26 14:46] bzon commented on #81
@Josephine24 sure. Please close the issue if everything works ok. 👍

[2020-03-04 15:12] saschbro opened #102 "connectors_with_custom_templates not working"
Hello together

We are using Docker Image 1.3.2 with `TEMPLATE_FILE` env referencing a custom alert card template. This works well for our handlers defined in the `connectors` section of our configuration file. Because I want to connect other channels with another card style than our default one I added a `connectors_with_custom_templates` section to our configuration file as described in the read

[2020-03-04 16:32] bzon commented on #102
Hi @saschbro, I understand your problem. Can I see your YAML file so I can use it for testing? Please redact the webhook urls.

[2020-03-04 16:39] bzon commented on #102
@saschbro this will be fixed in the next release.

[2020-03-04 16:50] bzon commented on #102
@saschbro please now use https://github.com/prometheus-msteams/prometheus-msteams/releases/tag/v1.3.3

Github automatically closed the issue. 😒

[2020-03-05 07:34] saschbro commented on #102
Hi @bzon. Thank you very much for your fast reply and the fix. I tested with version 1.3.3 and it's working as expected now. Not sure if you still need the configuration file:
[code]
Thanks again for the quick support!

[2020-03-05 07:35] #102 closed

[2020-03-14 16:43] ragemoody opened #105 "Failed sending to webhook URL. i/o Timeout[BUG]"
**Describe the bug**
Curling the prom-alert.json to the prometheus-msteams container results in the following error message:

Failed sending to webhook url https://outlook.office.com/webhook/xxx. Got the error: Post https://outlook.office.com/webhook/xxx: dial tcp: lookup outlook.office.com on 127.0.0.11:53: read udp 127.0.0.1:54049->127.0.0.11:53: i/o timeout

Additionaly the log of my alertmanag

[2020-03-14 22:54] bzon commented on #105
I assume https://outlook.office.com/webhook/xxx is not your real webhook url? This looks like a DNS issue or internet connectivity issue.

Can you also try using the latest release version? Take note that the docker repo has also been changed.

If the issue still persist, I want you to simply test your container network by manually **curl**-ing your webhook url.

[2020-03-15 10:21] ragemoody commented on #105
Yea i edited out the part after "webhook/" vor overview reasons.
What i just did:

- updated to latest image
- generated a new webhook url and edited the promteams config file
- curl'd the prom-alert.json from my docker host to the webhook-url. This was the outcome:

Summary or Text is required

- I tried curling from the promteams container to the webhook-url but curl is not installed and so far

[2020-03-15 19:01] bzon commented on #105
@ragemoody yep.

By the way, this command is meant to target the prometheus-msteams server url and not the webhook url.

I will close this issue for now.

[2020-03-15 19:01] #105 closed

[2020-03-18 10:08] supaflyster opened #106 "Provide linux binary for v1.3.3"
**Describe the bug**
Hi, Looks like 1.3.3 release has only darwin binary, can you please also release the linux one please?

**Version**
The docker image or release version of prometheus-msteams.
1.3.3

<img width="1024" alt="Screenshot 2020-03-18 at 11 05 18" src="https://user-images.githubusercontent.com/6348312/76949307-9f361d00-6908-11ea-8fe5-4fcc1cccc3f9.png">

Thank you!

[2020-03-19 15:25] n8britton opened #107 "[BUG] Card with Action Throws JSON Encoding Error"
**Describe the bug**
When using one of the example action cards, I get an error when prometheus posts an alert.

**Version**
1.3.0+

**To Reproduce**
use an action card vs. the default.  The default card works fine.

**Additional context**

[code]

[2020-03-19 22:22] bzon commented on #106
![Screen Shot 2020-03-19 at 11 20 02 PM](https://user-images.githubusercontent.com/19391568/77120132-5aa99f00-6a38-11ea-9605-a1aa1183c40f.png)

Not sure what happened but it seems that file was corrupted.

[2020-03-19 22:43] bzon commented on #106
The Linux binary is now available!

[2020-03-19 22:45] bzon commented on #107
Thanks for raising this issue. I updated the examples in the master branch and tested it myself.

![Screen Shot 2020-03-19 at 11 41 01 PM](https://user-images.githubusercontent.com/19391568/77121530-b1fd3e80-6a3b-11ea-827e-3d427dbdc545.png)

![Screen Shot 2020-03-19 at 11 37 32 PM](https://user-images.githubusercontent.com/19391568/77121543-b4f82f00-6a3b-11ea-98b8-3c7c0c7ec0af.png)

[2020-03-19 22:45] #107 closed

[2020-03-19 22:46] #106 closed

[2020-03-24 11:04] despick opened #109 "[BUG] helm chart warnings regarding default value for connectors"
**Describe the bug**
When overriding the connector values helm will issue a warning:
Warning: Merging destination map for chart 'prometheus-msteams'. Overwriting table item 'connectors', with non table value: [map[alertmanager:https://outlook.office.com/xxx] map[alertmanagerApproval:https://outlook.office.com/webhook/yyy]]

**Version**
The docker image or release version of prometheus-msteams.
doc

[2020-04-15 08:08] lulzmachine opened #110 "[BUG] Problem with potentialAction compilation"
Thanks for the prometheus-msteams-project! It has really been clutch for us to get the alerts system going

**Describe the bug**
We had a template that ended in something like this:
[code]

But we ran into problems trying to use it:

got error: invalid character '\n' in string literal, wantErr false

This seems to be due to the function "concatKeyValue" on line 124 of templated_card.go requiring a

[2020-04-15 08:21] bzon commented on #109
Thanks for submitting this issue!

This is now fixed in https://github.com/prometheus-msteams/prometheus-msteams/commit/9611b1ed12ef715c123ca9cad370c4016cc0767a and helm chart release 0.4.5

[2020-04-15 08:21] #109 closed

[2020-04-15 08:28] bzon commented on #110
Thanks for submitting this issue.

It has been a very long time since that code was written and I think it is time that we refactor the templating code or a new implementation for the `card.Converter` interface.

Is this fix in code or in your template file?

[2020-04-15 08:33] lulzmachine commented on #110
@bzon Thanks for the quick response. I meant that we changed our template to have "[{" instead of "[\n\t{" as a workaround

[2020-04-15 14:49] Knappek commented on #110
thank @lulzmachine for filing this issue. I've been thinking about rewriting this part for quite some time, I'll probably start soon with it as we are observing similar kind of issues again and again.

[2020-04-16 12:28] timo-reymann opened #111 "Docker hub account is gone"
The account on docker hub can no longer be found and so the image cant be pulled.

Is this intended, and if it is could you please fix the documentation to point to the new account? :)

[2020-04-16 12:48] Knappek commented on #111
@timo-reymann we store the images on dockerhub and quay:
* quay.io/prometheusmsteams/prometheus-msteams
* docker.io/prometheusmsteams/prometheus-msteams

Documentation is fixed in #112 .

Please close this issue if the readme fixes are correct.

[2020-04-16 12:55] Knappek commented on #110
Just fyi, The tricky part in the code is that we need to split an alert that is too big into multiple chunks as MS teams has a byte size limit.

But as said before, I will now start and try to make the code easier (it was my first experiences with Go at that time :D)

[2020-04-16 12:57] bzon commented on #111
@timo-reymann please use the one hosted in quay.io https://quay.io/repository/prometheusmsteams/prometheus-msteams?tab=tags

If you are trying to pull from the old repository `bzon/prometheus-msteams`, take note that there have been newly released versions since the migration to quay.

[2020-04-16 13:03] timo-reymann commented on #111
@bzon Okay thanks for the info, i will use quay.io then ;)

[2020-04-17 17:27] Adelbertt commented on #85
Hi,

I'm having the same issue using the latest version (0.4.5) this is the log i get, let me know if you need something else (sanitized for confidentiality purpose)

Thanks

[code]

[2020-04-18 16:43] Knappek commented on #85
Hi @Adelbertt could you please provide the card template you are using?

[2020-04-20 11:14] Adelbertt commented on #85
[code]

[2020-04-20 16:31] #111 closed

[2020-04-21 13:17] cubed-it opened #117 "[BUG] unexpected status code 404: http://prometheus-msteams:2000/alertmanager"
I followed the steps provided and deployed the chart: https://github.com/prometheus-msteams/prometheus-msteams/tree/master/chart/prometheus-msteams
I removed the extraEnvs proxy and set the teams webhook. Everything else is as described.

However I only get 404 from the alertmaneger and also if I query with wget:
[code]

[code]

What is wrong? What can I do to fix or evaluate the problem?

Thanks!

[2020-04-21 13:24] bzon commented on #117
@cubed-it the request path that you are using does not exists in prometheus msteams.

You should be using /low_priority_channel and /high_priority_channel and not /alertmanager.

Can you also provide the helm values file redacting the webhook url or the configmap that the helm generated.

[2020-04-21 13:29] cubed-it commented on #117
Damn, now that you mention it, it's obvious... And I even read the main readme ;)
It works now, thanks for the great work and the quick help!!

[2020-04-21 13:29] #117 closed

[2020-04-21 13:34] shibumi opened #118 "[FEATURE] Disable Grouping for Alerts"
**Is your feature request related to a problem? Please describe.**
Right now an alert notification looks like this:
![msteams alert](https://lapee79.github.io/en/article/prometheus-alertmanager-with-msteams/teams-alert-message.png)

I would like to have a notification for every single alert and the alert message in the title instead of "Prometheus Alert (fired)". The notification changes the color

[2020-04-21 13:45] bzon commented on #118
Thanks for raising this feature request. @Knappek is currently working on refactoring the existing card templating code. We will see if this is something that we can consider as a configurable option.

[2020-04-21 18:12] jdelee opened #119 "[BUG] v1.3.3 linux SHA256 is wrong"
`curl -fsLo prometheus-msteams-linux-amd64v1.3.3 https://github.com/prometheus-msteams/prometheus-msteams/releases/download/v1.3.3/prometheus-msteams-linux-amd64
`
`shasum -a 256 prometheus-msteams-linux-amd64v1.3.3
fd1ccc4efc113e9f47b293cf7792a913f577bd64e4355156535815bf05054bca  prometheus-msteams-linux-amd64v1.3.3`

`curl -fsLo shasum256.txtv1.3.3 https://github.com/prometheus-msteams/prometheu

[2020-04-21 21:27] shibumi commented on #118
Just an idea, but couldn't we just group by the alert message or alert name? We would still have a group of alerts, but at least the 'meaning' of the alerts would be the same.

[2020-04-22 07:46] Knappek commented on #118
Valid point @shibumi. While refactoring I'll keep your suggestions in mind and will come back to you in case of questions.

[2020-04-22 13:15] yishaihl opened #120 "problem sending alerts to msteams"
hey guys,
i'm trying to set it up, but unfortunately i'm not getting the messages to the channel.

prometheus-operator-8.5.13
eks kubernetes cluster-1.14
helm v3.1.2

i configured k8s alertmanager config file & prometheus-msteams config.yaml (as described below) and initiate the following command:

helm upgrade --install prometheus-msteams -f config.yaml prometheus-msteams/prometheus-msteams

**al

[2020-04-22 13:49] bzon commented on #120
Hi @yishaihl you are just simply using the wrong endpoint from your alertmanager configuration. See the answer here https://github.com/prometheus-msteams/prometheus-msteams/issues/117#issuecomment-617177502

[2020-04-22 13:56] bzon commented on #120
I also updated the sample values file to avoid confusion in the future!

https://github.com/prometheus-msteams/prometheus-msteams/blob/master/chart/prometheus-msteams/README.md#prepare-the-deployment-configuration

[2020-04-22 14:26] yishaihl commented on #120
@bzon thanks a lot man for your quick response working!!

[2020-04-22 14:26] #120 closed

[2020-04-26 16:50] Knappek commented on #119
Thank you @jdelee for reporting this, we fixed it, should be correct now.

[2020-04-26 16:50] #119 closed

[2020-04-27 13:18] Streeter220 opened #121 "[BUG] 403 Forbidden error"
Hi, i am experiencing some problems when alertmanager is sending POST to a connector, does anyone know what this could be?

Apr 27 15:16:44 <server_name> alertmanager[34297]: level=error ts=2020-04-27T13:16:44.648Z caller=dispatch.go:301 component=dispatcher msg="Notify for alerts failed" num_alerts=1 err="cancelling notify retry for \"webhook\" due to unrecoverable error: unexpected status code 4

[2020-04-27 16:11] Knappek commented on #121
Hi @Streeter220 ,
I think this is not an error in promteams but rather in Alertmanager, the error is being throwed in [this line](https://github.com/prometheus/alertmanager/blob/master/notify/notify.go#L670).
There is a [similar issue](https://github.com/prometheus/alertmanager/issues/1494) (which is closed but apparently not solved). I would love to help you anyways but I haven't seen this error

[2020-04-27 16:11] #121 closed

[2020-04-28 19:44] Knappek commented on #118
Hey @shibumi in #114 we will introduce a new flag `-disable-grouping` which will simply allow you to send one message for each alert.

Can you elaborate on this a little bit more please? Do you have an idea how to do this as I don't know how we would define the "meaning" of certain alerts...based on what condition?

[2020-04-28 21:03] shibumi commented on #118
Hi @Knappek My idea was just to group on `alert names`. So if you have an alert that is called `Persistent Volume out of storage`, all alerts with the same name will group on that one. This would be configured on alertmanager side, it has nothing to do with prometheus-msteams.

I've just heard that it's possible to disable grouping in alertmanager via `group_by: [...]` (triple dots). Did anyone tr

[2020-05-01 16:08] Knappek commented on #118
@shibumi , yes I can confirm that. You can easily reproduce it as explained in [the readme](https://github.com/prometheus-msteams/prometheus-msteams#setting-up-prometheus-alert-manager) using [dockprom](https://github.com/stefanprodan/dockprom).

Simply add prometheus-msteams to docker-compose.yml

[code]

and use the following `alertmanager/config.yml` :

[code]

[2020-05-01 16:08] #118 closed

[2020-05-01 16:13] Knappek commented on #99
Closing this issue as flag `-auto-escape-underscores` can be used to enable/disable it. @AnandDevan feel free to re-open if that does not fulfill your requirements.

[2020-05-01 16:14] #81 closed

[2020-05-03 14:32] leojonathanoh commented on #99
this issue should not be closed. It is not about being able to control markdown or json escaping by using a config flag, but that the the alert object properties should not pre-json encoded nor pre-markdown escaped by default in the application.

As #116 is in the making, it would be good to also implement turning off this escaping at the same time, in a different PR.

[2020-05-03 17:36] Knappek commented on #99
@leojonathanoh I understand that you simply want to have [-auto-escape-underscores](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/cmd/server/main.go#L77) to be `false` by default, is that correct?

This change would be a major change (I know the same argument applies to #82 although we haven't released it as a major release but only a minor, that was a mistake). I assume you

[2020-05-03 18:39] leojonathanoh commented on #99
@Knappek yes, since that flag controls json-encoding and markdown escaping (athough the flag name implies it controls only markdown escaping).

This should be implemented alongside #116 where the card will be no longer be templated in json but in yaml by using `sprig` templating functions, without needing json or markdown escaping anymore i.e. `-auto-escape-underscores` flag. The default teams car

[2020-05-03 19:33] Knappek commented on #99
Got it. I agree working with yaml format would be way simpler. I was concerned a little bit first as examples in the [MS Teams documentation](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#office-365-connector-card) are provided in JSON format, so I thought JSON is a better way to directly reference it. But templating all stuff is a whole diff

[2020-05-03 21:24] leojonathanoh commented on #99
sounds good

[2020-05-05 08:06] shibumi commented on #118
Hi @Knappek I have one question as follow up.
Do you know how I can modify the msteams card template that it shows the name of the alert as title?

So instead of "Prometheus Alert (firing)" I would like to have "AggregatedAPIDown (firing)"

[2020-05-05 08:13] shibumi commented on #118
@Knappek What I tried yet is:
[code]

but I still get alerts with the title "Prometheus Alert (firing)" although I see that the configmap got applied to the pod, do I need to redeploy my prometheus Alertmanager, too? (I don't think so... mh)

[2020-05-05 17:47] Knappek commented on #118
@shibumi awesome.

what did you need to uninstall + install? Essentially you only need to restart prometheus-msteams after you changed the config as we don't have a hot reload implemented. Simply deleting the pod should do the job.

[2020-05-05 18:01] shibumi commented on #118
@knappek with uninstall + install I meant a `helm uninstall` and `helm install`, so has been basically a pod deletion. Before this I just tried `helm upgrade`, this doesn't work.

[2020-05-05 19:27] bzon commented on #110
This is now fixed from #123

[2020-05-05 19:27] #110 closed

[2020-05-21 12:20] hoplers opened #126 "[BUG] Getting timout when trying to run example alert"
I tried running the basic example on README, but im getting errors.

configuration -

docker run command - docker run -d -p 2000:2000 --name="promteams" -e TEAMS_INCOMING_WEBHOOK_URL="https://outlook.office.com/webhook/<xxxxxxx>" -e TEAMS_REQUEST_URI=alertmanager quay.io/prometheusmsteams/prometheus-msteams:v1.3.4

proxy configured (screenshot from docker inspect on image) -
![image](https://user-

[2020-05-22 12:09] crossbill opened #127 "[BUG] invalid memory address or nil pointer dereference"
Binary Version : 1.3.4
Running : curl -X POST -d @prom-alert.json http://localhost:2000/alertmanager
Machine behind firewall

Error:
2020/05/22 11:58:29 http: panic serving 127.0.0.1:54426: runtime error: invalid memory address or nil pointer dereference
goroutine 16 [running]:
net/http.(*conn).serve.func1(0xc00028edc0)
	/home/travis/.gimme/versions/go1.13.7.linux.amd64/src/net/http/server.go:1767

[2020-05-23 15:43] Knappek commented on #126
What exactly do you mean by this? If it is that you executed curl on your local computer, could you try to login to the prometheus-msteams docker container and execute curl from there (with setting the proxy env variables for your shell)?

To me it looks like prometheus-msteams does not have access to the webhook. As you are routing through a proxy, you could try two things:
1. telnet on the proxy

[2020-05-24 08:47] hoplers commented on #126
Hey Andy,
Thanks for the quick response.
About your question - I ran the curl outside of the docker.
I tried running from inside like you said - didnt work, but after checking some things it seems that this is a DNS issues (and not a proxy issue). looks like something with our organizational DNS is not functioning properly from inside docker.
Anyway im pretty certain that this is an issue with my

[2020-05-24 08:47] #126 closed

[2020-05-24 09:08] Knappek commented on #127
@crossbill I can't reproduce this error. Could you please provide the card template that you are using and `prom-alert.json`?

[2020-05-24 21:49] #85 closed

[2020-06-04 19:06] zzhao2010 opened #130 "Webhook changes the type of some data structure[BUG]"
**Describe the bug**
The webhook changes the type of data below from kv to string, and it caused the parsing error. The type of these 3 fields were supposed to be kv, but webhook changes them to string.  And the triggered alerts on AlertManager do not send to MSTeams.
"groupLabels":"",
"commonLabels":"",
"commonAnnotations":"",

**Version**
The docker image or release version of prometheus-msteams

[2020-06-05 06:47] zzhao2010 commented on #130
The issue was resolved. It was sth. wrong on the AlertManager configuration.

[2020-06-05 06:47] #130 closed

[2020-06-10 02:43] andrea-82 opened #131 "Cluster name in alert message"
Hi,

I have this implemented this in a couple of cluster.
All the alerts come as "Prometheus Alert (firing)", so I can't tell which cluster this alerts come from.

I could create a different MS Teams webhook per cluster but I was wondering whether there was an easy way to set the cluster name in the alert.

If it needs to be setup in Alertmanager it would be helpful to know what setting does the t

[2020-06-10 10:04] Knappek commented on #131
Hi Andrea,
you are probably using the [default-message-card.tmpl](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/default-message-card.tmpl). The title is defined in [this line](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/default-message-card.tmpl#L24). You can easily create your own template following [this guide](https://github.com/prometheus-msteams

[2020-06-10 13:39] NarendranathPanda opened #132 "Not pincking the configuration given in the file , localhost:2000/config returns null"
**Describe the bug**
Running the promethus-msteams in a standalone centos7 machine as a systemd process

**Version**
1.3.5 version of prometheus-msteams.

**To Reproduce**
regular steps mentioned in the README.md file at home page

**Expected behavior**
Not showing the configuration properly .
``` curl localhost:2000/config ```
return
``` null ```

**Screenshots**
If applicable, add screenshots to

[2020-06-15 20:05] andrea-82 commented on #131
That's awesome, thanks @Knappek!

If anyone else is also using this with helm/terraform/terragrunt this is how I included the whole thing (including the custom template):

`resource "helm_release" "prometheus-msteams" {
  name       = "prometheus-msteams"
  repository = "https://prometheus-msteams.github.io/helm-chart/"
  chart      = "prometheus-msteams"
  namespace  = "admin"
  version    = "0.5

[2020-06-15 20:06] #131 closed

[2020-06-16 23:58] callahan22 opened #133 "Customising the alert fields shown"
Pretty sure this isn't a bug but it's also not a feature request so I'm dropping this here.

**Version**
Running the latest prometheus-msteams and the latest version of docker

***Problem***
I'm struggling to get only the fields I want in the alert within Teams. I know I'm missing something but I can't see what. I'd like to control the contents of the alert. I only want minimal info yet I've getti

[2020-06-17 04:16] NarendranathPanda commented on #132
Yes

[2020-06-19 18:28] Knappek commented on #133
@callahan22 the `card-with-silence-action.tmpl` loops over [alert annotations](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/examples/templates/card-with-silence-action.tmpl#L18-L22) and [alert labels](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/examples/templates/card-with-silence-action.tmpl#L24-L28). Simply replace this part with what you want.

A

[2020-06-19 18:37] Knappek commented on #132
Hello @NarendranathPanda , your command is not correct. Running `./promteams server` is an old way to do it. Furthermore the input flags `-l` and `-p` are not supported.

How did you start the service? Can you provide the systemd file you are using?

[2020-06-20 00:51] callahan22 commented on #133
@Knappek - It does, very much. Thanks for taking the time to reply. I have it working exactly as required now.

Many thanks!

[2020-06-20 00:51] #133 closed

[2020-06-21 15:44] callahan22 commented on #133
I've an additional request. I'd like to add a hyperlink to one of the fields

[code]
Is this possible? I'm assuming it's just a case of defining the $grafana_dashboard variable in the template and using it as so:

[code]

I've not had much luck on assigning the variable so again, I'm missing something obvious

[2020-06-22 05:50] Knappek commented on #133
Hmm, first of all `[{{ $alert.Annotations.url }}]({{ $grafana_dashboard }})` looks weird, isn't `$alert.Annotations.url` already your grafana url?

Next, why do you want to assign the url a variable in the dashboard as it seems to be fixed and hard-coded? If you need to assign variables in the template though, you can do that equivalently to https://github.com/prometheus-msteams/prometheus-msteams

[2020-06-22 11:04] callahan22 commented on #133
Yup, you're right, and is proof that working into the night is never a good idea.
My fault on a copy/paste error so lets try that again!

Currently the value of: $alert.Annotations.header is the string: "AlertManager".
I changed the template to read:

`"activityTitle": "[{{ $alert.Annotations.header }}]({{ $externalUrl }})"`

This gives me a link named "AlertManager" at the top of my alert that li

[2020-06-22 17:26] Knappek commented on #133
This is usual markdown, which works like `[text to my link](https://this.is.the..link.com)`

[2020-06-22 18:46] callahan22 commented on #133
That was painfully easy. I'm going to go have a word with myself in the corner.

Thanks again for answering a clearly very dumb question...

[2020-06-22 19:46] Knappek commented on #133
There's no dumb question :). Glad I could help!

[2020-06-23 07:55] Biomains opened #134 "URL not a hyperlink"
I have noticed that when alert "Instance" is a URL, its not displayed as an hyperlink. Which is very useful when we do URL checking.
When alert forwarded to Desktop version of Teams, its not clickable. But in Mobile versions of Teams, it is.

I guess this has nothing to do with promethues-msteams exporter, but maybe there is a solution for this?

[2020-06-24 11:25] Knappek commented on #134
Hi @Biomains thank you for filing this. Could you please provide the MS teams card template you are using, and the corresponding prometheus alert json?

[2020-06-24 12:49] Biomains commented on #134
I am using the default template:

{{ define "teams.card" }}
{
  "@type": "MessageCard",
  "@context": "http://schema.org/extensions",
  "themeColor": "{{- if eq .Status "resolved" -}}2DC72D
                 {{- else if eq .Status "firing" -}}
                    {{- if eq .CommonLabels.severity "critical" -}}8C1A1A
                    {{- else if eq .CommonLabels.severity "warning" -}}FFA500

[2020-06-26 08:32] Sispheor commented on #85
Same for me.

Logs
[code]

Here is the json from alertmanager
[code]

My template
[code]

[2020-06-27 07:47] Knappek commented on #85
@Sispheor  please use the latest template with a default summary of "Prometheus Alert".

[2020-06-27 07:48] Knappek commented on #134
Could you please also provide the Prometheus Alert json that is causing the issue?

[2020-06-28 16:17] naren4b commented on #132
Yes it works , Please feel free to close the issue

[2020-06-28 19:38] #132 closed

[2020-06-29 10:10] soerenmuehlbauer opened #135 "[BUG] Template file not found when starting container from docker compose"
**Describe the bug**
When starting the container via docker-compose an error

is shown

**Version**
master

**To Reproduce**
volumes:
      - /tmp/teamscard.tmpl:/tmp/teamscard.tmpl

**Expected behavior**
the file is loaded because it is there. If I issue a

the content is shown without problems. If I start the container via docker run it is also started successfully

**Additional context**
[code]

[2020-06-29 11:03] soerenmuehlbauer commented on #135
Found the issue. Problem were the quotes in docker compose yaml.

[code]

After removing them it works

[2020-06-29 11:03] #135 closed

[2020-06-29 12:23] Biomains commented on #134
{"status":"success","data":{"alerts":[{"labels":{"alertname":"critical","instance":"https://TESTING.domain.no","job":"critical","severity":"critical"},"annotations":{},"state":"firing","activeAt":"2020-06-29T13:47:18.649490007+02:00","value":"0e+00"}

[2020-06-30 05:28] Knappek commented on #134
@Biomains I am able to reproduce it, for it is also not working on the mobile app. This seems to be [an issue at MS Teams](https://techcommunity.microsoft.com/t5/microsoft-teams/some-urls-will-not-transform-into-a-clickable-link-when-entered/m-p/26743).

Any chance to mark the links as hyperlink at your source using usual markdown hyperlink syntax with `[my link](http://example.com)` or `<a href='

[2020-07-06 20:03] callahan22 commented on #133
Apologies for reopening this but after having customised the template file to make it more adaptable (and heavily commented it so hopefully this is of use to others), I have a situation whereby alert works perfectly and adapts to the type of alert I'm sending but the Silence Alert button is either failing on some alerts (dead link) or those alerts where the link is live, it produces a non valid li

[2020-07-07 17:34] Knappek commented on #133
@callahan22 I don't understand your problem. What do you mean by

What is a "dead link" and what is a "non valid link"?

[2020-07-09 09:58] nkn1111 opened #136 "Display the version with the '-version' flag"
**Is your feature request related to a problem? Please describe.**
To download a newer version would like to check the current installed version and download if necessary.

**Describe the solution you'd like**
Get the current installed version using a `-version` flag with the binary.

eg: `./prometheus-msteams-linux-amd64 --version` should give current installed version like the other prometheus e

[2020-07-09 14:54] #136 closed

[2020-07-10 12:33] nkn1111 commented on #136
Thanks a lot @Knappek . But the `v1.4.0` bugs me, would be great if the output looks more cleaner like `1.4.0`. Thanks a lot anyway.

[2020-07-13 10:19] Knappek commented on #136
I don't know how you use the version, maybe in your CI pipeline, but you can easily cut the 'v', can't you? I don't think we will change this as it's a quite common format with semver.

[2020-07-16 13:52] farooqdevops opened #139 "prometheus-msteams deployment fails on helm upgrade/install"
Hi

i am able to install the chart "prometheus-msteams " on my k8 cluster but my deployment fails. I have added pod logs also here. Can someone have a look to see what's wrong with my deployment of chart.

'$ helm upgrade --debug prometheus-msteams ./prometheus-msteams/ --set connectors=<connector-url>'

`$ kubectl get pods -l app=prometheus-msteams --namespace default -w

NAME READY STATUS RESTAR

[2020-07-16 14:38] Knappek commented on #139
@farooqdevops which version of prometheus-msteams are you using? Could you also share the whole `helm` command please? it seems like you have misconfigured `connectors`.

[2020-07-16 15:20] farooqdevops commented on #139
@Knappek thanks for reply.
I am using prometheus-msteam version 0.5.1

i used these commands to deploy my helm chart:
'$ git clone https://github.com/bzon/prometheus-msteams
'$ cd prometheus-msteams/chart'
'$ helm upgrade --debug prometheus-msteams ./prometheus-msteams/ --set connectors=https://outlook.office.com/webhook/xyz'

[2020-07-16 15:24] Knappek commented on #139
1. The latest version of prometheus-msteams is v1.4.0, it is highly recommended to upgrade.
2. connectors is a list that contains a key-value pair, and not a string like you configured it. Please refer to the [Helm Chart README](https://github.com/prometheus-msteams/prometheus-msteams/tree/master/chart/prometheus-msteams) for further details.

Let me know if this helps.

[2020-07-17 06:30] farooqdevops commented on #139
@Knappek thanks for your help. It works now.

[2020-07-17 06:30] #139 closed

[2020-07-17 17:17] marcioa6 commented on #127
I was able to reproduce this error by starting it as a service, it works perfectly fine when starting using the regular command.

[code]

[2020-07-17 19:44] marcioa6 commented on #127
I troubleshoot it further and was able to make it work using
-template-file with a full path.
Eg.:
-template-file /foor/bar/default-message-card.tmpl

Please try that @crossbill

--Marcio Assis

[2020-07-18 00:42] crossbill commented on #127
Thanks Marcia, did figure it out, but haven't updated here.

[2020-07-18 00:42] #127 closed

[2020-07-22 11:52] hailong1004 opened #140 "[FEATURE]"
**Is your feature request related to a problem? Please describe.**
only 10 maximum alerts in one message when a alert group more then 10 alert

**Describe the solution you'd like**
could able set maximum alerts in one message

**Describe alternatives you've considered**
When I set up group_by in alertmanager.yml, I have an alert manager with 25 alerts, but it will be split into 3 messages each wit

[2020-07-22 17:25] Knappek commented on #140
Unfortunately we have to split this into multiple messages as it is a [MS Teams limitation](https://docs.microsoft.com/en-us/microsoftteams/platform/task-modules-and-cards/cards/cards-reference#notes-on-the-office-365-connector-card):

[2020-07-22 17:25] #140 closed

[2020-07-29 17:49] lmasaya opened #145 "Reload configuration upon receiving a signal"
I'm running **promteams** as a long lived process and would like to be able to update the configuration of the channels that get notified without restarting the proxy.

I would like to have the application catch a given signal, say SIGHUP or SIGUSR1, to reload its configuration file.

An alternate solution would be to provide a URL path to reload the application configuration, say /reload

I see t

[2020-07-30 08:04] Knappek commented on #145
Hi @lmasaya thank you for this feature request.

Can you provide a little bit of background why you want/need this feature?

I am asking because if you, for example, are running promteams on Kubernetes as a container, best practice is to treat containers as immutable objects and do a rolling update deployment. With rolling updates you will further have no downtime of the promteams endpoint.

[2020-07-30 16:27] lmasaya commented on #145
I'm currently running this in a Nomad Cluster and the configuration file gets templated from a secret in a Vault KV store. I treat webhooks as a secret, because just having them would allow me to spam a channel. I have the job set to restart the application when that template gets changed, due to changes in the secret, but it doesn't seem to work properly or at least consistently. So I get what yo

[2020-07-30 22:09] lmasaya commented on #145
It seems it's an issue of a large TTL of Vault secrets that causes Nomad not to notice the change. So, this feature won't help with my issue. Feel free to close if you think it isn't helpful to the larger community.

[2020-08-05 16:11] yogeshbidari opened #146 "[BUG] Some webhook alerts are not reaching to MSTeam"
**Describe the bug**
We have around 11 alerts triggering to MSTeams. We are getting only 9-10 alerts in the MSTeams.

**Version**
1.3.5
Using helm to deploy

**To Reproduce**
Triggering multiple alerts at same time.

**Expected behavior**
Should send all the alerts to MSTeams

**Additional context**
Sometimes we see error in the pod logs.
Most of the time, the response code is 200. Still the alert

[2020-08-10 12:09] fischerman commented on #98
Ideally the card would also change color if the alert is resolved. Right now it is hard to see whether an alert is still active or not.

[2020-08-11 07:36] jribmartins opened #147 "[BUG] sending a message behind a corporate proxy"
**Describe the bug**
`{"caller":"transport.go:88","err":"http client failed: Post <webhookurl>:  dial tcp: lookup outlook.office.com on ...: no such host","ts":"2020-08-11T07:32:32.074670644Z"}`

**Version**
v.1.4.1

**To Reproduce**
just try to send a message behind a corporate proxy like `http_config`

**Expected behavior**
a way to add the proxy url

[2020-08-11 12:03] #147 closed

[2020-08-11 20:27] Knappek commented on #146
Thanks for reporting this issue.

What is sad is that apparently MS Teams webhook returns with a `200` although it is actually a `412` according to the message. It is hard to guess what could be the root cause for this. Could you provide the teams message that is being sent to the webhook? Is it really "sometimes" failing, or always with the same teams message?

[2020-08-11 20:34] Knappek commented on #145
@lmasaya I will close this issue as I think it won't be a huge benefit to the majority of the prometheus-msteams users. I understand that config-reload is beneficial for critical services that have to be up and running all the time, which is not the case for prometheus-msteams in my opinion.

Thanks for the request anyway. I am happy to re-open if someone disagrees.

[2020-08-11 20:34] #145 closed

[2020-08-11 20:51] callahan22 opened #148 "failed on ObjectEach: failed using compact within ArrayEach: %!w(<nil>)"
Hi,

I have a working setup of promteams that has been running without issue for almost 4 months. I've added a prom push gateway to my setup and I have a scheduled powershell script that runs every 5 mins on the source PCs and drops in the stats to the push gateway. I'm alerting on whether that value is a 1 or 0. This works fine in Alert Manager.

**_My customised template file that is working for

[2020-08-11 21:14] Knappek commented on #148
which version of prometheus-msteams are you using?

[2020-08-11 21:39] callahan22 commented on #148
Hi Knappek,

Thanks for the reply. I'm running the latest version, 6 months old (I'm basing that on the fact my image and the latest image on docker hub are both 6 months old but if you tell me how to check, I will tell you for sure!).

[2020-08-12 05:43] ckotzbauer opened #149 "[BUG] Helm-Chart not published"
**Describe the bug**
Could you please publish the new versions of the helm-chart? The "helm-chart" repository was not updated for the latest versions.
Thanks!

[2020-08-17 19:46] callahan22 commented on #148
Does anyone have any suggestions as to what:
`{"caller":"transport.go:76","err":"failed to parse webhook message: create card failed: failed on ObjectEach: failed using compact within ArrayEach: %!w(<nil>)","ts":"2020-08-17T18:47:37.160172395Z"}`
is caused by?

I've have tried countless numbers of fixes but as I don't really see where the error is being caused, I'm finding it really difficult to r

[2020-09-02 11:18] Knappek commented on #149
Hi @ckotzbauer, I don't understand. According to the [Chart.yaml](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/chart/prometheus-msteams/Chart.yaml) the version should be [0.5.1](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/chart/prometheus-msteams/Chart.yaml#L5) which is also the latest release of the [helm chart](https://github.com/prometheus-msteam

[2020-09-02 11:21] Knappek commented on #148
@callahan22 sorry for the late reply. I will look into this soon.

[2020-09-02 12:05] ckotzbauer commented on #149
The charts directory in this repo is only where the chart is developed. But this is not the location where the chart is published. This is https://github.com/prometheus-msteams/helm-chart. And there is still 0.4.0

[2020-09-02 12:48] Knappek commented on #149
Sorry, but are you on the wrong branch? I see `0.5.1`being published:

![image](https://user-images.githubusercontent.com/18685317/91982987-54c82180-ed2b-11ea-8a12-f1f84ec6ef56.png)

[2020-09-02 13:25] callahan22 commented on #148
Thanks. In the interim I had to use 2 docker containers. One that works with my templates and a default one that doesn't but does alert with the default alert template. I'd still like to get this resolved at some point however.

[2020-09-02 13:35] ckotzbauer commented on #149
Sorry, I wasn't clear enough. Yes, 0.5.1 is published and it is the latest chart-version. But this version doesn't point to the newest version of the app. The chart uses 1.3.5 and the newest is 1.4.1

[2020-09-02 15:11] Knappek commented on #149
okay, this is fine though, you can easily change it with `image.tag` variable. The reason for this pointing to `1.3.5` is that chart version `0.5.1` started with app version `1.3.5`. Although we didn't change chart version in subsequent releases, hence we haven't changed the app version either, as it would mean a new chart release (or replacing the 0.5.1 release which I wouldn't recommend due to v

[2020-09-02 15:33] ckotzbauer commented on #149
Yes, of course I can change the version manually. But it would be better (and that's common practice) that the appVersion is updated anytime a new version is released. This makes also a new version of the chart itself neccessary, cause (as you said) the chart-version is immutable.

[2020-09-02 15:45] Knappek commented on #149
As I think now, probably you are right :D. Actually I was talking with @bzon to make the process of publishing a new helm chart release based on changes in the root repo more automated anyway. Let's use this issue to tackle this.

I would appreciate your contribution if you like as my time is limited currently :)

[2020-09-02 16:02] ckotzbauer commented on #149
Great :)
Of course, I can help here. I personally prefer a setup with github-actions where the chart is hosted with gh-pages in the same repo. I use this for my own chart-repo https://github.com/ckotzbauer/helm-charts

If this is sth. which would be an option, a can make a PR.

[2020-09-03 08:32] Knappek commented on #149
hah, I didn't know you can use gh-pages for that. That is awesome. Yes absolutely, this is nice, we also thought about moving to github actions. @bzon what do you think?

[2020-09-03 08:35] bzon commented on #149
This will make our helm publishing much easier. @ckotzbauer 👍

[2020-09-03 13:31] ckotzbauer commented on #149
Great, I think I will have time on the weekend to make a PR. :+1:

[2020-09-05 21:51] Knappek commented on #148
I've looked into your issue. I couldn't reproduce the exact the error that you observed, but I received another. Your template has one misconfiguration:

you have:

[code]

but you need to remove the `,` to become

[code]

Maybe it is just this simple fix. Could you try that?

[2020-09-17 06:17] #149 closed

[2020-09-17 06:40] Knappek opened #151 "Migrate from travis to github actions"
In #150 we created the first github actions workflow that tests and releases the helm chart. In the next step, it would be great to migrate the whole CI to Github Actions in order to be consistent.

[2020-09-18 15:12] gnunesmoura opened #152 "Add a description of the Build process"
I want to use your application on a raspberry pi, but i have no knowledge about go and how to compile your project on an ARM chip. Could you help me with this?

[2020-09-18 19:34] Knappek commented on #152
After [Go is installed](https://golang.org/doc/install) on your laptop, you can build an arm based binary with

[code]

You can find the resulting binary in the `bin/` directory.

[2020-09-18 19:45] gnunesmoura commented on #152
Would be possible to create a new CI pipeline to create this binary and publish another docker image with a different tag?

I'm very interested in use this project on my docker lab setup and I am want to contribute to the project.

[2020-09-19 07:19] Knappek commented on #152
Yeah we could also create arm binaries in the CI. But why do we need another docker image? Shouldn't the normal docker image work also on an arm based system?

[2020-09-19 17:01] gnunesmoura commented on #152
I don't know how to do this... This is the log that the docker image produces I'm facing this issue:

[code]

[2020-09-20 00:27] gnunesmoura commented on #152
I build an image using this Dockerfile and know it I can use your project 🥇

[code]

[2020-09-21 08:06] Knappek commented on #152
Awesome. Would you mind sending a PR to have it included in the CI pipeline? Maybe we have an additional `Dockerfile.arm` and `Dockerfile.arm64`.

BTW, I don't think you need this line

[code]

if you have the Dockerfile in your current directory. Rather copy the content over.

[2020-09-24 07:37] Gizmos777 opened #153 "[BUG] Some alerts are getting an error :"Summary or Text is required.","response_status":400"
**Describe the bug**
Some alerts aren't reaching MS team. I see in pod logs a message with an error

**Version**
The docker image or release version of prometheus-msteams.

v1.4.1
**To Reproduce**
Steps to reproduce the behavior:

I'll get same error if I send a request to a prometheus-msteams directly without:

Log of the error

[2020-09-24 08:19] Knappek commented on #153
@Gizmos777 this is not a bug in prometheus-msteams but rather a requirement of MS teams that either `summary` or `text` is required. None of them is provided in your alert.
Check out the current default card template, there is a guard implemented if the prometheus alert does not provide any of the fields used for either `summary` or `text`: [this line](https://github.com/prometheus-msteams/prometh

[2020-09-24 08:19] #153 closed

[2020-09-24 09:47] Gizmos777 commented on #153
My card.tmpl file is:

[2020-09-24 09:53] Knappek commented on #153
Yeah, you are using an old version of the default template. Please check the differences that I've mentioned. Then you will see why your `summary` value is empty.

[2020-09-24 10:08] Gizmos777 commented on #153
I checked an alert message:

[2020-09-24 10:14] Knappek commented on #153
Yes, and your template requires one of the following for the `summary`:
- `commonAnnotations.summary`
- `commonAnnotations.message`
- `commonLabels.alertname`

and none of them is present in your alert. If you would replace your template's summary section with the [following from the default template](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/default-message-card.tmpl#L1

[2020-09-24 10:18] Gizmos777 commented on #153
I got it.
I have a test kubernetes cluster and  i don't have a such problem:

[2020-09-24 10:36] Gizmos777 commented on #153
Where can I get a new version of the default template?

[2020-09-24 10:38] Knappek commented on #153
check out the releases page, you can find it in the latest release's assets: https://github.com/prometheus-msteams/prometheus-msteams/releases/tag/v1.4.1

[2020-09-24 11:54] Gizmos777 commented on #153
Thank you!
It is working with this default template.

[2020-10-02 20:54] Binyamse opened #154 "Summary or Text is required."
**Describe the bug**
Some alerts work ok, meaning i get alerts on ms team but some alerts won't reach ms team with `"err":null,"level":"debug","response_message":"Summary or Text is required.","response_status":400,` error

**Version**
using helm with docker image `quay.io/prometheusmsteams/prometheus-msteams:v1.4.0`

**To Reproduce**
have this rule in your PrometheusRule

[code]
Exit one of your

[2020-10-03 08:17] Knappek commented on #154
Hi @Binyamse, this is probably a duplicate of issue #153 . Feel free to re-open if that does not solve your issue.

[2020-10-03 08:23] Knappek commented on #154
Oh, I just see that the chart's template is not in sync with the repo's default template. I will fix that.

[2020-10-04 13:43] trallnag opened #156 "[FEATURE] default template: don't include "description" in "facts" list"
**Is your feature request related to a problem? Please describe.**

At the moment the description in the default template is always shown twice. Once as the activity title and once as a fact.

![image](https://user-images.githubusercontent.com/24834206/95017191-2e621280-0658-11eb-8fa3-8aaf6df82418.png)

I think it would be better to remove this repetition.

**Describe the solution you'd like**

On

[2020-10-04 14:02] trallnag commented on #98
@fischerman I think for an overview over the state of your alerts something like https://github.com/prymitive/karma might be more appropriate. It's a dedicated service with it's own web UI. Just discovered it today while searching for something like Grafana alert panel

[2020-10-04 15:27] Binyamse commented on #154
Thank you very much @Knappek I will update to lates helm after issue is merge

[2020-10-06 13:17] Knappek commented on #154
released in chart version `0.5.2`. Update your local repo with `helm repo update`.

[2020-10-06 13:17] #154 closed

[2020-10-07 08:14] trallnag opened #158 "Question: Grafana-like alert card possible with template only?"
I have a question regarding the Go templates, since they are completely new to me. Is it possible to create a template that generates a card similar to the one Grafana emits without changing any Go code?

The specific characteristic I'm interested in is using the label value as a key fact and the numerical value as the fact value.

![Untitled](https://user-images.githubusercontent.com/24834206/953

[2020-10-07 08:55] Knappek commented on #158
hi @trallnag, can you please share the corresponding prometheus alert json? That would help me to help you :)

[2020-10-07 09:07] trallnag commented on #158
Grafana has it's own alert engine and so there is no alert in the Prometheus format at all. But [here](https://github.com/grafana/grafana/blob/41d432b5ae68c0fc2261e607289206b79410fcfa/pkg/services/alerting/notifiers/teams.go) is the actual Golang file with the function `Notify` that sends the notification to Teams.

Just wondering how much "logic" I can express with Go templates since Grafana does

[2020-10-07 09:46] Knappek commented on #158
Okay thanks, I will have a look later that day.

[2020-10-07 19:11] trallnag commented on #156
@Knappek, can you update the `teams_screenshot.png` in the `README.md` to reflect the changed template if you have the time? I don't want to create a new PR just for that

![image](https://user-images.githubusercontent.com/24834206/95376631-a8f19300-08e1-11eb-9bb9-0d96604da40e.png)

[2020-10-07 20:22] trallnag commented on #158
@Knappek btw I answered the question myself and will post the result here once I get to it and then close the issue. The templating is not as magic as it first seems :smile:

Btw I think it would be a good addition to have a place to collect different templates, so maybe in this repository?

[2020-10-08 04:53] Knappek commented on #158
haha great 👍 . We do have an [example directory](https://github.com/prometheus-msteams/prometheus-msteams/tree/master/examples) which is also linked in the README. Please put your grafana-like template to that diretory and in the same PR you can update the screenshot in the Readme ;).

[2020-10-09 09:03] #156 closed

[2020-10-11 17:24] trallnag commented on #158
PR can be found here https://github.com/prometheus-msteams/prometheus-msteams/pull/159

[2020-10-13 07:36] pkd809 opened #160 "imagepullSecrets not available with the helmchart."
Image Pull Secrets is not available with the helmchart request prometheus-msteams helmrelease team to please add the imagepullSecret attribute to the chart.

[2020-10-29 17:14] NM4 opened #161 "Connetiong to outlook.com throw authenticated proxy [BUG]"
**Describe the bug**
I deployed prometheus-msteams with helm chart with proxy configuration as below :
correct HTTP_PROXY, HTTPS_PROXY, NO_PROXY, http_proxy,https_proxy and no_proxy

I get the error :

http client failed: Post https://outlook.office.com/webhook/xxx/IncomingWebhook/xxx: proxyconnect tcp: dial tcp: lookup http on 10.43.0.10:53: no such host

**Version**
Docker V1.4.1

[2020-10-29 18:00] #158 closed

[2020-10-30 18:52] NM4 commented on #161
The pb was in the HTTP_PROXY URL,  bakslash for widows domain should be escaped or written as UTF code.

[2020-10-30 18:52] #161 closed

[2020-11-04 16:31] nfldsantos opened #162 "x509: certificate signed by unknown authority"
**x509: certificate signed by unknown authority**
Validation error of certificate from outlook.microsoft
Is there any option as we have in AlertManager when sending email, to set the TLS comunication, for example:
tls_config:
  insecure_skip_verify: true

Meanwhile i am checking how to add the certificate to CA, trying to mount the certificate on the running POD, could that option be also added to

[2020-11-05 06:09] Knappek commented on #162
@nfldsantos thank you for filing this issue.

Indeed we can provide a `-insecure-skip-verify` flag to make it optional to validate the server certificate. I have opened a PR, can you please check out the corresponding branch, build it from source (with `make linux` or `make darwin` or `make windows`), set this flag to `true` and verify that it works pls?

[2020-11-06 07:46] Knappek commented on #160
Now available in chart version `0.7.0`. See [chart readme](https://github.com/prometheus-msteams/prometheus-msteams/tree/master/chart/prometheus-msteams) for more information.

[2020-11-06 07:46] #160 closed

[2020-11-10 11:25] benjamin37 opened #164 "[BUG] Helm Chart connectors_with_custom_templates not working"
**Describe the bug**
Trying to add multiple (or even a single) custom msteams card templates with `connectors_with_custom_templates` via the helm chart provided in this repository. According to the [docs](https://github.com/prometheus-msteams/prometheus-msteams/tree/acb9a8092bdb8e40128ca90b2852fe6629396d7d#customise-messages-per-ms-teams-channel) a valid configuration should be:

[code]

Now there

[2020-11-10 11:48] Knappek commented on #164
Hi @benjamin37 thank you for using prometheus-msteams and filing your issue. I am trying to understand what issues you are facing.

Can you please elaborate, I don't understand this question.

There is [more documentation in the helm chart readme on that topic](https://github.com/prometheus-msteams/prometheus-msteams/tree/master/chart/prometheus-msteams#customise-messages-to-ms-teams). Maybe this

[2020-11-10 12:14] benjamin37 commented on #164
Hi @Knappek,

in the `connectors_with_custom_templates` I mentioned in my first comment there is a `template_file`. When deploying the helm chart with this configuration, `prometheus-msteams` expects to find a file named `default-message-card.tmpl` in the container. I don't see a way to provide the container with this file.

[2020-11-10 20:22] Knappek commented on #164
I see your point. Right now, it is not possible to provide multiple card templates mapping to different request paths. This is definitely something that can be improved. Would you like to contribute and implement this feature in the helm chart?

That being said, it is possible to define a custom card with the following `values.yaml`:

[code]

When send an alert to the request path `/my-alert` it w

[2020-11-11 07:32] benjamin37 commented on #164
Sure, with the `customCardTemplate` value of the helm chart it is possible to provide 1 custom ms teams card. But I was talking about `connectors_with_custom_templates` which can not be used for even 1 custom ms teams card in the helm chart if I understand it correctly.
From my understanding `connectors_with_custom_templates` does not work in the helm chart yet.
I'll have a look if I can contribut

[2020-11-11 08:25] Knappek commented on #164
Kind of. What works is the following:

[code]

It kinda works, but it's not the actual use case of using `connectors_with_custom_templates` which is rather being able to configure different request paths with different templates.

[2020-11-11 08:29] benjamin37 commented on #164
True, that's the default ms teams cards template that comes with the helm chart.

[2020-11-11 13:11] Knappek commented on #164
No I mean together with `customCardTemplate` you can provide your custom template AND use `connectors_with_custom_templates`. But TBH, `connectors_with_custom_templates` does not give you more value to it as all of the parameters can be configured with other helm values as well ;).

As said, being able to provide multiple templates that are being used for multiple different request paths would be

[2020-11-19 12:56] gouravsw opened #168 "[FEATURE] Auto restart of prometheus-msteams pod when the entry from hashicorp vault is synced"
**Is your feature request related to a problem? Please describe.**
I have integrated the prometheus-msteams with hashicorp vault, stating that vault-agent is running as a sidecar container in prometheus-msteams connector.

Feature I needed is auto restart of prometheus-msteams pod because

If I do any change in vault (create, update or delete entry), it is getting synced and I am able to see it in

[2020-11-22 13:50] Knappek commented on #168
Hi @gouravsw thanks for filing your issue. I am trying to understand what your want to achieve.
Is it correct that you use vault to store your MS Teams webhook url and inject that via the vault-agent sidecar to the [config file](https://github.com/prometheus-msteams/prometheus-msteams#creating-the-configuration-file)?
How did you deploy prometheus-msteams? If you've deployed it via the [helm chart

[2020-11-22 14:39] gouravsw commented on #168
Hello Andy, Thank you for your response, actually config map for prometheus-msteams is static and generic and hence it would not be changing even though the entries in vault is changed (created, deleted or updated) and because of that I thought to ask for this feature, where if any changes seen in connector.yaml (@ /etc/config/ or /vault/secrets or at any other location), prometheus-msteams pod sh

[2020-11-22 18:02] Knappek commented on #168
So this is the configmap you use along the helmfile, correct?

Could you please also post the resulting configmap?

[2020-11-22 19:23] gouravsw commented on #168
@Knappek Hello Andy, the above is the resulting configmap.

Using helm template command I have generated the above configMap.

[2020-11-22 19:28] Knappek commented on #168
I see. But this configmap is only used by the vault-agent sidecar, isn't it? How does the configmap for the [prometheus-msteams config](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/chart/prometheus-msteams/templates/configMapConfig.yaml) look like?

[2020-11-23 03:34] gouravsw commented on #168
As mention in prometheus-msteams config, Configmap of prometheus-msteams will create the connector.yaml file which will have the entries for msteams urls and this connectors.yaml is stored in some location either /etc/config/connectors.yaml or /vault/secrets/connectors.yaml, and this files is used by prometheus-msteams connector to send the alerts/messages to Microsoft team channels.

The generic

[2020-11-23 21:39] Knappek commented on #168
Okay, I understand it now, thank you.

I think this is not possible. The issue is that we do not load the config at runtime but on container startup. @bzon what do you think, would it make sense to read the config at runtime, every time we receive a new request?

@gouravsw, maybe we won't support loading the config at runtime, as it would mean opening and reading the config file on every single re

[2020-11-25 07:46] gouravsw commented on #168
@Knappek Thank you Andy for your response. It sounds good to rollout based on checksum. I will be waiting for new parameter `SecretProviderClass` to use.

I was having discussion with one of my colleague. And we are thinking to soft kill the container if the size of a file change. It might work in case  of new entry or deletion of an entry, as the file size change. But in case of update where file

[2020-11-25 08:08] #164 closed

[2020-11-25 08:11] Knappek commented on #168
I don't know how and where you implement that soft kill, but if you have access to the file size, you can also check a diff in the `sha256sum` instead of using the size.

[2020-12-07 19:16] nhe23 opened #170 "Retry sending alert on 503"
Sometimes api calls on office 365 return 503. This can happen without any clear reason and sometimes it happens due to high loads. That exact case occured today and the alert did not reach MS Teams. However the resolving alert could be sent a few minutes later.
The log shows that an 503 error occured:
![image](https://user-images.githubusercontent.com/19340684/101394428-cbdff980-38c8-11eb-972b-ba2

[2020-12-08 06:36] Knappek commented on #170
Hi @nhe23 , thanks for filing this issue.
I think it would be a good idea to implement such a feature. Would you like to go ahead and open a PR?
As Go's built in `net/http` (which we are using) doesn't provide such a feature, we might want to use [hashicorp/go-retryablehttp](https://github.com/hashicorp/go-retryablehttp) and provide the `RetryMax` parameter as an optional input parameter in `prome

[2020-12-08 13:08] nhe23 commented on #170
@Knappek That sounds good. However I have minimal experience with golang and currently not much time. I could try implementing this but it would probably take a while...

[2020-12-08 13:13] Knappek commented on #170
No worries, I will find some time next week to implement this.

[2020-12-11 17:40] nhe23 commented on #170
@Knappek I just had a look at the code and I think it should not be too hard to implement it myself. It is probably a good idea to have the retry configuration per configured channel. Then I would switch out the `net/http` server with the `hashicorp/go-retryablehttp` server as you suggested. The default `RetryMax` would be set to 0 and if a RetryMax value is set in the configfile this value would

[2020-12-12 09:19] Knappek commented on #170
Awesome, looking forward to it! No I think that's it, unless I would set `retryMax` to a value greater 0, say 3?! Or is there any downside on this?

[2020-12-12 11:37] nhe23 commented on #170
Ok, then I'll set the default to 3 👍

[2020-12-13 17:53] #170 closed

[2020-12-27 12:44] heubeck opened #172 "[FEATURE] Support 'envFrom.secretRef' with existing k8s secret in Helm chart"
**Is your feature request related to a problem? Please describe.**
For using prometheus-msteams with a GitOps approach, where the Helm values are checked in into Git as [HelmRelease CRD](https://docs.fluxcd.io/projects/helm-operator/en/stable/helmrelease-guide/introduction/), it is not possible to have secrets in the Helm values.

**Describe the solution you'd like**
As an alternative to having th

[2021-01-05 14:40] jakuboskera opened #174 "[FEATURE] Helm chart - add custom labels for pods"
Currently we are not able to add custom labels for pods via helm chart. It would be good to add option to specify custom labels for pods in `values.yaml`.

[2021-01-06 20:26] #174 closed

[2021-01-06 20:26] Knappek commented on #174
Thank you @jakuboskera for filing and fixing this!

[2021-01-08 00:20] wolstena opened #176 "[BUG] OpenUri and ViewActions do not launch target uri"
**Describe the bug**
I am able to send messages to Teams but the buttons rendered for `OpenUri` and `ViewAction` are directed to `https://teams.microsoft.com/null` instead of the URIs defined in the message -- `https://alertmanager.me/alertmanager/...`

**Version**
v1.4.2

**To Reproduce**
Steps to reproduce the behavior:

prometheus-msteams seems to generate the correct message sent to teams. The

[2021-01-08 02:18] wolstena commented on #176
I have this sorted out. It was operator error. My source message had a bunch backslashes. The query filter did not like this at all. I crafted a message that reflected what is sent by prometheus and the buttons in the teams message work. I had one other error in my uri definition where I needed to replace a `/` with a `?`:

```"uri": "{{ $externalUrl }}/#/alerts/silenced=true&inhibited=true&active

[2021-01-08 02:20] #176 closed

[2021-01-11 05:43] zannxD commented on #139
@Knappek my helm upgrade command is as follows:
helm upgrade --install prometheus-msteams -n monitoring --set connectors.alertmanager=https://outlook.office.com/webhook/xxx/xxx --set-file customCardTemplate=/home/prometheus-msteams/chart/prometheus-msteams/card.tmpl prometheus-msteams/prometheus-msteams

and the pod is crashlooping with the same error:
{"caller":"main.go:148","err":"yaml: unmarsha

[2021-01-22 11:26] michalrudko commented on #147
So it there a way to add a corporate proxy settings? Where is the proper place to define it?

[2021-01-22 12:59] Knappek commented on #147
@michalrudko you just need to set the proxy environment variables `HTTP_PROXY` AND `HTTPS_PROXY`.

[2021-02-09 17:00] Knappek commented on #139
Hi @zannxD I am sorry for the late response. Which version of the chart are you using? It seems to be quite old as `connectors.alertmanager` is not possible because `connectors` is an array. Could you try updating to the latest chart version `1.0.2` and try again?

[2021-02-10 10:57] kbudde opened #178 "[FEATURE] Teams channel configured through url"
**Is your feature request related to a problem? Please describe.**
At the moment I have to configure the teams webhooks in two places:
- prometheus-msteams
- alertmanager

Running msteams in docker only allows one webhook (correct)?
So I either install two container or I build the container "myself" with configuration.

Adding a channel always requires changing both.

**Describe the solution you'd

[2021-02-11 07:52] JMattDomantay opened #179 "[BUG]"
**Describe the bug**
Hello,

I deployed the helm chart for kube-prometheus-stack and the prometheus-msteams chart. After that I configured the following configurations:

Alert Manager:
<img width="687" alt="Screen Shot 2021-02-11 at 3 48 07 PM" src="https://user-images.githubusercontent.com/33314270/107612138-8a7d1900-6c80-11eb-8c3a-c8d8555eda17.png">

prometheus-msteams:

<img width="814" alt="Sc

[2021-02-11 08:04] Knappek commented on #179
Hi @JMattDomantay,

do you get any error message, either in prometheus alertmanager or in promteams?

Could you try simulating an alert and curl directly promteams [as describe here](https://github.com/prometheus-msteams/prometheus-msteams#simulating-a-prometheus-alerts-to-teams-channel)? Does this work?

From what I see in you screenshot, you have a typo in `config.route.routes` where you misspel

[2021-02-11 08:23] JMattDomantay commented on #179
Hi @Knappek,

I just fixed the typo but I'm still having the same issue.

Here are the logs from prometheus alertmanager:

[code]

Here are the logs from promteams:

Before trying the curl

[code]

After trying the curl:

[code]

It's also verified that msteams is receiving the curl:

<img width="865" alt="Screen Shot 2021-02-11 at 4 22 54 PM" src="https://user-images.githubusercontent.com/3331427

[2021-02-11 08:24] jeggers-88 opened #180 "CPU throttling and readiness probe failures [BUG]"
**Describe the bug**
Active CPU Throttling and failing readiness probes of the pod in the kubernetes cluster:

**Version**
"quay.io/prometheusmsteams/prometheus-msteams:v1.4.1"
Helm File Version 0.7.1

**To Reproduce**
No idea.

**Expected behavior**
Succesful readiness probes, no cpu throttling.

**Screenshots**
![image](https://user-images.githubusercontent.com/71137805/107614343-6c94c180-6c4a-1

[2021-02-11 08:29] jeggers-88 commented on #180
This problem occured correlated to a kubernetes update from 1.17.13 to 1.18.14.
But in my opinion this should not be the reason...

[2021-02-11 15:29] Knappek commented on #180
Wow, that looks weird. I have no idea where to start TBH. Is `prometheus-msteams` the only pod you observe such a pattern? Did you try to just delete the pod and let it come up again (sorry, maybe stupid question)?

[2021-02-11 16:28] jeggers-88 commented on #180
(no stupid question :-) !) Yes I tried to delete the pod multiple times. But the problem persists with the new created pods.
It seems that the `prometheus-msteams` pod is the only pod which is affected.

Today we updated our PROD cluster from 1.17.13 to 1.18.14 and the `prometheus-msteams` pod in this cluster does not have this weird problem.  In DEV the problem persists ... the clusters are nearl

[2021-02-12 11:58] Knappek commented on #180
The webserver provides a pprof endpoint at `/debug/pprof` (see [here](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/cmd/server/main.go#L291)). Maybe you can tweek in a little bit and find out which part of the code is causing the issues?

[2021-02-12 12:01] Knappek commented on #179
@JMattDomantay as the curl command is working, I think the configuration of prometheus-msteams is correct. The alertmanager config looks good to me. Could you try to exec into the alertmanager pod and test the curl command from there by using the url enpoint of prometheus-msteams as used in the alertmanager config? If this does not help, it might be worth asking in the prometheus community.

[2021-02-13 05:52] JMattDomantay commented on #179
Hi @Knappek,

It seems that alertmanager pods don't allow curl but given these output I would ask for help from the prometheus community since manual curl from other pods from my cluster is working.

Thank you!

[2021-02-13 09:15] Knappek commented on #178
Hi @kbudde thanks for opening this issue.

No that's not correct, you can configure as many webhooks as you wish in [config file](https://github.com/prometheus-msteams/prometheus-msteams/#creating-the-configuration-file) and mount it to the container.

I think this is a good feature request! Let's try to have RESTful paths: instead of using `_by-path` I'd rather suggest something like `webhook`, w

[2021-02-15 15:59] #172 closed

[2021-02-15 16:51] jeggers-88 commented on #180
Hm debug/pprof/ gives me lot of binary data, I was not able to interprete it today.

But since 14.02 in the morning hours (~9) the throttling is much lower:

![image](https://user-images.githubusercontent.com/71137805/107973083-0c3cb180-6fb5-11eb-9ed5-43215ba9c3d1.png)

I looked in the logs of the "alertmanager-prometheus-operator-alertmanager" pod:
[code]

I noticed until this morning hours there

[2021-02-15 17:25] Knappek commented on #180
msteams webhook is not able to deal with that high load. It will run in CPU throttling and the readiness probes will fail and it will restart again and again.

That makes sense to me, could be that this was the issue.

Not specifically with prometheus-msteams. If you consider to use a service mesh soon'ish, you could consider using a circuit breaker to avoid similar situations, with any API, not s

[2021-02-23 05:41] pkd809 opened #183 "[BUG] : Existing helm chart deployment template doesn't support multiple annotations."
**Describe the bug**
helm release failed for Prometheus-msteams release. (error - "YAML parse error on prometheus-msteams/templates/deployment.yaml: error converting YAML to JSON: yaml: line 22: did not find expected key")

I found, Existing helm chart (Prometheus-msteam) deployment template doesn't support multiple annotations.

I have tested by modifying template it was working. (existing templa

[2021-02-23 09:48] greeshma156 opened #184 "[BUG]Helm chart unavailable"
**Describe the bug**
The helm chart repo mentioned in the documentation sends 404 when tried to retrieve the chart.

`helm repo add prometheus-msteams https://prometheus-msteams.github.io/prometheus-msteams/`
`helm repo update`
`helm show chart prometheus-msteams`
 **Error: failed to download "prometheus-msteams" (hint: running `helm repo update` may help)**

The add and update commands work but f

[2021-02-23 10:59] Knappek commented on #184
@greeshma156 you using a wrong command. `helm show chart prometheus-msteams` inspects a chart that has been already deployed on your current cluster context. In order to do that, you first have to install the chart with `helm install ...`.

You can verify that the chart has been successfully downloaded using `helm search repo`.

[2021-02-23 10:59] #184 closed

[2021-02-23 12:02] Knappek commented on #183
Good catch @pkd809! Thanks for filing this, I have created a PR that should fixes this. Would be great if you can review it and leave a comment.

[2021-02-24 07:59] #178 closed

[2021-03-05 10:47] wrahmann opened #188 "[BUG] coalesce.go:160: warning: skipped value for extraEnvs: Not a table."
**Describe the bug**
I have defne proxy config in values.yaml under extraEnvs. However, when I run the helm chart I get the following error:

**coalesce.go:160: warning: skipped value for extraEnvs: Not a table.**
Release "prometheus-msteams" has been upgraded. Happy Helming!
NAME: prometheus-msteams
LAST DEPLOYED: Fri Mar  5 21:30:46 2021
NAMESPACE: monitoring
STATUS: deployed
REVISION: 8
TEST SU

[2021-03-05 11:02] nicomontes opened #189 "yaml: unmarshal errors: line 2: cannot unmarshal !!map into []map[string]string [BUG]"
**Describe the bug**
I reveive this error in pod when i run helm chart :
`{"caller":"main.go:148","err":"yaml: unmarshal errors:\n  line 2: cannot unmarshal !!map into []map[string]string","ts":"2021-03-05T10:57:36.384000665Z"}`

**Version**
1.4.1

**config**
[code]

[2021-03-05 11:48] Knappek commented on #188
this should be fixed with #169 , let me go ahead and merge it

[2021-03-05 11:57] Knappek commented on #188
Released new chart that should fix this issue. Feel free to re-open if that is not the case. Thanks for reporting it!

[2021-03-05 11:57] #188 closed

[2021-03-05 12:31] Knappek commented on #189
@nicomontes `connectors` is a list, hence you have to use:

[code]

[2021-03-05 12:31] #189 closed

[2021-03-05 16:16] wrahmann commented on #188
thank you, the said error is not coming now.

[2021-03-06 10:00] #183 closed

[2021-03-06 14:31] wrahmann opened #190 "err=\"unexpected status code 500:"
Hi,

I am getting the following error in alertmanager debug logs.

"log":"level=warn ts=2021-03-06T14:26:00.025Z caller=notify.go:674 component=dispatcher receiver=netcool integration=webhook[1] msg=\"Notify attempt failed, will retry later\" attempts=1 err=\"unexpected status code 500: http://prometheus-msteams:2000/bar\"\n","stream":"stderr","time":"2021-03-06T14:26:00.025867345Z"}

In alertmana

[2021-03-06 14:33] Knappek commented on #190
@wrahmann do you see any logs in `prometheus-msteams` pod?

[2021-03-06 14:36] wrahmann commented on #190
there were no log file generated under /var/log/containers. I also wondered...

[2021-03-06 14:50] wrahmann commented on #190
Sorry, my mistake. ms-team was on a different node. Logs are there.

worker-pool2-2-rz8zy3az-pny9-eccd-chf-0001:/var/log/containers # tail -n 100 prometheus-msteams-7b9fd7545c-l2hbp_mtx-monitoring_prometheus-msteams-92019448cdd7055525b10e3240382f7215854ee013926866e5fd4066cd81e64e.log
{"log":"{\"caller\":\"logging.go:25\",\"err\":\"http client failed: Post https://teamXXXXXXXXX.webhook.office.com/w

[2021-03-06 14:56] wrahmann commented on #190
{"log":"{\"caller\":\"transport.go:52\",\"host\":\"prometheus-msteams:2000\",\"method\":\"POST\",\"status\":500,\"took\":\"30.300275305s\",\"ts\":\"2021-03-06T14:45:27.423711359Z\",\"uri\":\"/bar\"}\n","stream":"stdout","time":"2021-03-06T14:45:27.423900609Z"}
{"log":"{\"alert\":{\"receiver\":\"netcool\",\"status\":\"firing\",\"alerts\":[{\"status\":\"firing\",\"labels\":{\"alertname\":\"XXXXXXXXX

[2021-03-06 16:47] wrahmann commented on #190
Hi ,

I captured a wireshark trace on the node and did not find any connection opened on the tcp 3128 the logs above timeout

Do you have any idea how to troubleshoot it further?

[2021-03-06 17:53] Knappek commented on #190
According to

it seems you are trying to connect to a proxy that is not reachable on this ip. Are you sure this proxy is reachable? Try to create a busybox container in the same namespace as promteams and verify network connectivity with telnet.

[2021-03-07 09:50] wrahmann commented on #190
@Knappek

Thank you for your help. The problem was with the wrong proxy configuration. After fixing the right proxy, it started working.

[2021-03-07 10:31] Knappek commented on #190
great, glad you figured it out.

[2021-03-07 10:31] #190 closed

[2021-03-12 16:30] kotchaosu opened #191 "[BUG] Disabling debug logging doesn't work in v1.4.2"
**Describe the bug**

Deployed prometheus-msteams helm chart in version 1.4.1 with Docker image v1.4.2. Tried to disable logging of debug messages, but still getting then:

[code]

Tried setting debug to false via container args:

[code]

also via env vars:

[code]

In both ways it doesn't work.

**Version**

Docker image v1.4.2

**Expected behavior**

Debug log messages are dropped when passing `

[2021-03-12 20:47] Knappek commented on #191
Thanks for reporting this bug @kotchaosu .

I researched a little bit and found out that is has to do with [tini](https://github.com/krallin/tini). Maybe we need to pass `-v` to tini but I am still figuring out whether this is the way to go. I never used tini before so I am not sure about this.

Do you have an idea how to proceed?

@bzon maybe you can support here.

[2021-03-15 11:36] kotchaosu commented on #191
I tried increasing verbosity to level 3 and it turns out that not only the DEBUG from `prometheus-msteams` (which ignores set json format for logs):

[code]

followed by expected JSON log message:

[code]

but also **tini**'s TRACE log messages are present:

[code]

I mean - I've seen this notifications dump even before setting verbosity on **tini**.

[2021-03-15 16:58] dmarupov opened #192 "Not able to start prometheus-msteams"
This is more of a question or troubleshooting:

I have downloaded the source code from the releases page and after unzipping the source code I am not able to run the prometheus-msteams command.

I have tried to run the help command as follows:
`prometheus-msteams --help`

But this will return this:
`-bash: prometheus-msteams: command not found`

OR

`./prometheus-msteams --help`

But this will ret

[2021-03-15 18:05] Knappek commented on #192
Hi @dmarupov , as `-bash: ./prometheus-msteams: Is a directory` states, it is a directory. Inside it, there should be the binary.

[2021-03-15 18:15] dmarupov commented on #192
These are the contents of the directory:
![image](https://user-images.githubusercontent.com/46696879/111201017-556e2a00-8590-11eb-9da6-1f9c9ff2fd40.png)
Unfortunately, I don't see any bin subfolder or any binary files.

[2021-03-15 18:25] Knappek commented on #192
Oh I see. This is the helm chart, here you can download the binary of the latest release: https://github.com/prometheus-msteams/prometheus-msteams/releases/tag/v1.4.2 .

I could improve the readme to watch out for `vX.Y.Z` and **not** `prometheus-msteams-xxx`. Hope this helps!

[2021-03-15 18:42] dmarupov commented on #192
@Knappek,

This worked beautifully. Thank you. Just an FYI for some reason I had to change the permission on the binary file but after that it was all good.

Thank you very much for your help.

[2021-03-15 18:44] Knappek commented on #192
Yeah it's common that you have to change the permission/make it executable. Glad it works!

[2021-03-15 18:44] #192 closed

[2021-03-22 20:13] sebas-w opened #194 "[BUG] Unable to inflate Helm chart using helmChartInflationGenerator and Kustomize"
**Describe the bug**
Inflation of helm chart via helmChartInflationGenerator and Kustomize fails due to error caused by a duplicate key `imagePullPolicy` on the deployment itself.

**Version**
Latest version

**To Reproduce**
Steps to reproduce the behavior:

1. Create the Kustomization File:

[code]

2. Use a valid Values.yaml file:

[code]

3. Run `kustomize build .` in the directory with your k

[2021-03-23 08:10] Knappek commented on #194
@sebas-w thanks for reporting this. Would you like to go ahead and fix it in a PR?

[2021-03-23 19:38] sebas-w commented on #194
Sure, that would be awesome! I tried to make a PR before submitting this bug but I didn't have access to do so. If you can provide me access I can go ahead and create the PR.

[2021-03-23 19:40] sebas-w commented on #194
@Knappek , It looks like there is a PR with the same modification already: https://github.com/prometheus-msteams/prometheus-msteams/pull/195

[2021-03-24 13:19] mtherreault commented on #146
The status of the HTTP response when calling webhooks is never checks and a `200` is always returned, Alertmanager is  never aware that the notification has failed, so never retried. And unfortunately, the result of HTTP responses of called webhooks is only logged when debug logging is enabled.

So I had an invalid MsTeams webhook URL (which resulted in a 400) and never had any sign of error anywh

[2021-03-24 13:27] mtherreault commented on #146
Hopefully I can use the metric time series `http_client_completed_count` to track for webhook HTTP request errors.

[2021-03-25 07:09] Knappek commented on #194
The process is as following: you have to fork this repo, implement the changes in your forked repo and then submit a PR to this repo.

[2021-03-25 07:31] Knappek commented on #146
That is not intended and I can't reproduce this behaviour. Looking into the code we are handling the response status [here](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/pkg/service/service.go#L93). I also just tested to send to a non-existing webhook url and received a `4xx` status. As said, in your particular use case, the MS teams API returned with a message having `412`

[2021-03-25 21:56] mtherreault commented on #146
@Knappek you are right I did not see that the status of the request to Ms Teams API was checked (not really ignored). However the result of the request (or requests in case of a [card split](https://github.com/prometheus-msteams/prometheus-msteams/blob/v1.4.2/pkg/service/service.go#L51)), including the status, is returned as serialized data in body of the response to Alertmanager, and the actual r

[2021-03-25 22:30] bzon commented on #146
The reason why the prometheus-msteams status code is always 200 is because the http call was sent OK regardless the status code returned to the http client. Note that Alert manager ignores the status code and response of prometheus-msteams too.

There are two ways for you to monitor this. Aggregate webhook error logs or use http_client_roundtrip_latency_count metrics. The status code should be the

[2021-03-25 22:56] mtherreault commented on #146
Alertmanager is not completely ignoring status codes returned by webhooks, it manages counters for notification errors and handles retries in case of 5XX errors, but this is not well documented behavior. The actual HTTP call is a success but not the notification, so I guess it depends on now we semantically define as a success.

Anyway we use the `http_client_completed_count` time series to track

[2021-03-25 23:05] bzon commented on #146
In your case, there will be no use for alert-manager to retry a bad request. But for now, using prometheus-msteams http client metric is the only way to get notified that something is wrong.

Though, I think a configurable feature to handle retry on specific status code errors can be handled within prometheus-msteams itself.

Can we close the issue now?

[2021-03-25 23:14] mtherreault commented on #146
As I have a way to monitor these errors, I'm OK. But I am not the one who has open the issue, I mainly wanted to contribute to the discussion and have better comprehension of the behavior of Prometheus MsTeams.

Thanks for all for your quick feedback and answers!

[2021-03-26 02:12] DgoNascimento opened #196 "[Doubts] Rules for breaking messages in teams"
Hello guys!

I would like support for the arrival of messages on MS Teams.

Note that the messages arrive, and some are not possible to read without clicking "see more".

Is it possible to change this setting?
Would it be on card.tmpl?

Thank you in advance.

[2021-03-26 03:09] DgoNascimento opened #197 "[Doubts] Forward alerts to a third channel, without filters"
Hello guys!

I would like support for clarification of another doubt.

How could I send all alerts to a third channel, regardless of their criticality?

I tried that, but I get everything on channel_all.
...
  receiver: 'alert_channel_all'  # default/fallback request handler
  routes:
    - receiver: alert_channel_all
    - receiver: alert_channel_low
      match:
        severity: warning
    - r

[2021-03-27 18:33] Knappek commented on #196
Hi @DgoNascimento , if I understand correctly, you would like to NOT have the "See more" button to expand very long MS teams messages, correct?
If so, unfortunately this is not something that can be configured currently, please track [this open issue](https://microsoftteams.uservoice.com/forums/555103-public/suggestions/31544650-disabling-see-more?page=1&per_page=20).

[2021-03-27 18:33] #196 closed

[2021-03-27 18:40] Knappek commented on #197
Hi @DgoNascimento! I haven't fully understood what you are trying to do. Can you please describe a little bit more precise by mentioning:
- what you are trying to achieve
- how you try to achieve it
- what's the actual outcome
- what's the expected outcome

Please also use code blocks for the yaml snippets.

[2021-03-27 19:39] Knappek commented on #191
Hey @kotchaosu I just tested it again and now it seems to work out of a sudden. I am confused....I used these steps:

[code]

[2021-03-27 19:44] Knappek commented on #191
Hey @kotchaosu I just researched a little bit. It actually has nothing to do with `tini` but is rather caused by the golang `net/http` package when executing the post request in [this line](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/pkg/service/service.go#L86). This ultimately ends up in [this line](https://github.com/golang/go/blob/master/src/net/http/client.go#L251). I

[2021-04-06 00:38] DgoNascimento commented on #197
Hi Knappek,

what are you trying to achieve

I'm trying to get the alerts to be divided into different groups, but to be sent to another group, without any filter.

Imagine that we have a group without teams, that receives all alerts, another group that receives only warning alerts and another group that receives critical alerts.

how do you try to reach it

In the alertmanager.yml configuration w

[2021-04-06 00:40] DgoNascimento commented on #196
Hi Knappek,

I really appreciate the information.

In addition, would you know if it is possible to prevent MS Teams from collecting alerts?

Receive one alert at a time?

I did a test removing the "group by", but without success.

Thank you in advance.

[2021-04-06 05:38] Knappek commented on #196
@DgoNascimento promteams should not collect any alerts but send them separately. Can you please post the example where this does not seem to be the case? Also some description what you would like to have instead? Thanks!

[2021-04-06 05:43] Knappek commented on #197
Got ya! Please follow [this detailed guide](https://www.robustperception.io/sending-alert-notifications-to-multiple-destinations), I think this will explain you how to achieve it.
According to this guide, I think what you'd like to have is one receiver (`prometheus-msteams`) with multiple routes. Don't forget to set `continue` in the `alert_channel_all` as describe in the article.
Let me know if t

[2021-04-07 17:25] DgoNascimento commented on #197
Hi Knappek,

That was exactly it!

Thanks a lot for the help!!

Tks

[2021-04-07 17:25] #197 closed

[2021-04-07 17:47] DgoNascimento commented on #196
Hi Knappek,

Verified that in the file alertmanager.yml we have the configuration of "group_by". In this case, it is configured like this:
group_by: ['alertname']

In this way, alerts are grouped into teams, by alertname.

![image](https://user-images.githubusercontent.com/78762621/113910982-d3001100-97af-11eb-9e91-0d98503a577e.png)

What I would like, is that there was no grouping, and that each

[2021-04-09 22:09] DgoNascimento opened #199 "[doubt with card-with-silence-action.tmpl] Link to alertmanager does not work."
I'm using the template card-with-silence-action.tmpl, but the link to the alertmanager doesn't work.
Tested with another URL "www.google.com" for example, successfully.

Later, I noticed that putting the alertmanager URL (http: //<IPADDRESS>: 9093/#/silences) also works.

I believe that the problem lies in assembling the URL.
Target available in the file:
http://localhost:9093/#/silences/new?filte

[2021-04-11 21:30] marcown opened #200 "Hostname from Hostmachine"
Hi,

thanks for this great project!

I am using it in a docker-compose file together with prometheus and alertmanager.

Is there any way to display the hostname of the hostmachine in teams alerts?

Thanks!

[2021-04-14 06:51] aryadiwwt opened #201 "[BUG]Cannot execute binary file on CentOS 7"
**Desc**
Cannot execute the binary file on CentOS 7 host.

**Version**
I've tried for version 1.1.3 and 1.1.2

**To Reproduce**
- Download binary from release
- execute binary with config and card template

**Expected behavior**
Prometheus-msteams server up and running

Note: the version as i mention above works on MacOS x

[2021-04-20 12:02] jdevreese opened #202 "[FEATURE] AdaptiveCard support"
Currently, only MessageCard templates are supported in prometheus-msteams.
AdaptiveCards would give us more freedom in designing custom templates for our messages.

I've tested AdaptiveCard by sending one directly to the Teams webhook and it worked.
Can the restriction to MessageCard templates be removed?

Example of message with an AdaptiveCard that can be sent directly to a Teams webhook (using

[2021-04-27 16:31] Knappek commented on #201
Hi @aryadiwwt sorry for the late response. Do you experience same issues with the latest version `v1.4.2`? Please also provide some more details about the error logs.

[2021-04-27 17:52] Knappek commented on #202
@jdevreese technically yes this should be possible I guess. We would need to write an additional converter, as there is currently only an [Office365ConnectorCard converter](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/pkg/card/converter.go) and use it in the [service](https://github.com/prometheus-msteams/prometheus-msteams/blob/master/pkg/service/service.go), maybe by defi

[2021-04-27 18:21] #194 closed

[2021-04-29 12:01] themanifold opened #204 "[BUG] Missing recent binary releases"
**Missing binary releases**
We're missing the latest binary releases from the 'Releases' page. The latest one is v1.4.2 - since then, everything has been helm charts.

**Version**
Master branch

**To Reproduce**
Look at the releases page

**Expected behavior**
I expect the latest binary releases to be in the releases page

**Additional context**
I noticed this because I tried to use some of the ne

[2021-04-29 12:26] Knappek commented on #204
thanks for reminding me @themanifold. There is an open PR #198 , I will try to get that merged soon and create a new release out of it.

[2021-05-01 15:35] #162 closed

[2021-05-02 12:10] Knappek commented on #200
Hi @marcown sorry for the late reply. You could pass the hostname as an environment variable to the docker container and then use it in `prometheus-msteams`.
Hope this helps!

[2021-05-02 12:10] #200 closed

[2021-05-02 12:18] Knappek commented on #151
Todos:
- [ ] bump version of [chart-releaser-action](https://github.com/helm/chart-releaser-action)
- [ ] make release creation automatic (currently done by manually drafting a release in the release page)

[2021-05-02 12:25] Knappek commented on #204
new release created

[2021-05-02 12:25] #204 closed

[2021-05-02 12:29] Knappek commented on #199
@DgoNascimento I don't know https://teams.microsoft.com/null is loaded. The only thing I see is that you are trying to have it called localhost, and I assume you don't have alertmanager running on localhost, do you?

[2021-05-02 12:42] Knappek commented on #191
I couldn't find anything tbh. Were you able to investigate it @kotchaosu ?

[2021-05-02 12:44] Knappek commented on #180
Will close this issue as it does not relate specifically to `prometheus-msteams`. @jeggers-88 if you disagree, please feel free to reopen.

[2021-05-02 12:44] #180 closed

[2021-05-02 12:46] Knappek commented on #179
closing this issue since it is stale for a while. Feel free to re-open @JMattDomantay.

[2021-05-02 12:46] #179 closed

[2021-05-02 12:46] #168 closed

[2021-05-02 12:48] Knappek commented on #148
Closing issue as it is stale for a while.

[2021-05-02 12:48] #148 closed

[2021-05-02 12:48] #146 closed

[2021-05-02 12:49] Knappek commented on #134
Closing issue as it is not related to `prometheus-msteams`.

[2021-05-02 12:49] #134 closed

[2021-05-02 12:50] Knappek commented on #99
Closing because of inactivity. Feel free to re-open if needed.

[2021-05-02 12:50] #99 closed

[2021-05-02 12:52] #98 closed

[2021-05-02 12:52] Knappek commented on #98
Closing because of inactivity. Feel free to re-open if needed.

[2021-05-02 12:53] #61 closed

[2021-05-02 12:53] Knappek commented on #39
Closing because of inactivity.

[2021-05-02 12:53] #39 closed

[2021-05-18 16:00] rolfberkenbosch opened #208 "prometheus-msteams:v1.5.0 pod wont start on openshift kubernetes cluster"
Hi,

I have installed the msteams with the helm chart, but i get an error when starting the pod.

[code]

I am using the image: prometheus-msteams:v1.5.0

I have tried to start the pod in debug mode, but that is also not working and give me the same error.

Any clue how i can debug/solve this ?

[2021-05-18 18:12] Knappek commented on #208
Hi @rolfberkenbosch, can you briefly describe the infrastructure you are trying to deploy `prometheus-msteams`?
This is probably caused by the CRI but no idea what the error actually means.

[2021-05-18 18:14] Knappek commented on #208
Oh, I just see in the title that you are running Openshift. It seems like [this issue](https://bugzilla.redhat.com/show_bug.cgi?id=1904558) is related.

[2021-05-21 11:47] kbudde opened #209 "[BUG] panic on invalid alert / valid json"
**Describe the bug**
I was testing prometheus-teams locally:
[code]

**Version**
1.5.0

**Expected behavior**
An error should happen as it's not a valid alert. But it was a panic.

Interesting: the error message contains not the port I've used:

**Additional context**
[code]

[2021-05-25 11:47] psibi opened #211 "Container has the same liveness and readiness probe"
**Describe the bug**

Right now the deployment yaml (from the helm chart) has the same liveness and readiness probe:

[code]

Using a static tool like [kube-score](https://github.com/zegl/kube-score) throws this error:

[code]

**Version**

[code]

**To Reproduce**

Use the manifest generated by latest helm chart and pass it to `kube-score` will result in such an error pasted above.

**Expected be

[2021-06-10 02:15] baraconguyen opened #212 "[BUG]Prometheus-msteams does not send alerts to msteams channel via proxy server"
- I used prometheus to send alerts to teams via a proxy server but no data is received.

error as follows:

`..../IncomingWebhook/e7e0714e1fb808a0589419bb75/21733118-bf94-4772-af1f-38caea159c3: dial tcp 52.98.40.66:443: i/o timeout
..../IncomingWebhook/e7e0363714e1fb808a0589419bb75/21733118-bf94-4772-af1f-38caea159c3: dial tcp 40.100.54.242:443: i/o timeout`

- I installed prometheus-msteams on ce

[2021-06-10 06:30] Knappek commented on #212
@baraconguyen that's a duplicate to #101

[2021-06-10 10:34] baraconguyen commented on #212
But i try setting up HTTP_PROXY or HTTPS_PROXY environment, it still get more error:

notify retry canceled after 2 attempts: Post \"http://localhost:2000/alert_channel\": context deadline exceeded"

[2021-06-10 11:26] Knappek commented on #212
@baraconguyen sorry for being too fast in closing the issue.

Can you describe your infrastructure setup please?

[2021-06-10 14:29] baraconguyen commented on #212
hi sir @Knappek , i set up prometheus-msteams on a linux with the binary via proxy outbout

`[Unit]
Description=Prometheus-msteams
Wants=network-online.target
After=network-online.target

[Service]
User=prometheus-msteams
Group=prometheus-msteams
Type=simple
ExecStart=/usr/local/bin/prometheus-msteams -config-file /opt/prometheus-msteams/config.yml -template-file /opt/prometheus-msteams/card.tmpl

[2021-06-10 14:52] Knappek commented on #212
Can you please show me the content of `/opt/prometheus-msteams/config.yml` (**without** showing me the webhook url) pls?

[2021-06-10 14:55] Knappek commented on #212
I assume, this is how `config.yaml` looks like?

[code]

![image](https://user-images.githubusercontent.com/18685317/121547607-926d7f80-ca0c-11eb-957c-e29728e035e0.png)

[2021-06-10 15:03] baraconguyen commented on #212
hi sir @Knappek , my /opt/prometheus-msteams/config.yml

`connectors:
  - alert_channel: "https://......webhook.office.com/webhookb2/.....`

[2021-06-10 15:45] baraconguyen commented on #212
![image](https://user-images.githubusercontent.com/85656213/121555700-6d453500-ca3d-11eb-872f-f84369d0251c.png)

my config.yaml

[2021-06-11 01:41] baraconguyen commented on #212
i  tested with direct internet it work, but outbound proxy error:

[2021-06-11 02:49] baraconguyen commented on #212
Seem alertmanager not send to prometheus-teams proxy on port 2000

[2021-06-11 07:00] Knappek commented on #212
Yeah the error is in the alertmanager, not in prometheus-msteams. So it should be:

Between Alertmanager and prometheus-msteams, you shouldn't require proxy settings, as they seem to run on the same system, don't they?

You are trying to access prometheus-msteams from Alertmanager using `localhost`. Can you verify that you can reach prometheus-msteams via localhost from Alertmanager? HOw do you ru

[2021-06-11 08:38] baraconguyen commented on #212
- Thanks sir @Knappek , yes they run on the same system.

---> No, i can't. Can you explain to me how to alertmanager reach prometheus-msteam  and prometheus-msteam go to Teams channel via proxy outbound or dns because i use proxy server to connect internet

- yes, I run alertmanager as a systemd process

[2021-06-11 15:35] Knappek commented on #212
you have to make sure that `alertmanager --> prometheus-msteams` does **not** use the proxy (which is presumably running on another host?!). If you export http proxy env variables on the linux host, it will also be picked up by Alertmanager. You can set `NO_PROXY` env variable for that.

[2021-06-12 01:36] baraconguyen commented on #212
- Thank for your supporting,
-  Yeah, my proxy running on another host and i export http proxy env variables on the linux host.
- when i set NO_PROXY env variable, the alertmanger still get error:

- and i want to ask how to config proxy for prometheus-msteams when i set no_proxy env variable

[2021-06-12 03:14] baraconguyen commented on #212
l: On which address prometheus-msteams going to listen, the default address is “0.0.0.0” , "0.0.0.0" is a direct internet, how to config the address prometheus-msteams going to listen is the proxy

[2021-06-13 09:39] Knappek commented on #212
Can you please log in to that Linux host and try to simluate a Prometheus Alert by sending a POST request directly to `prometheus-msteams` by [following these steps](https://github.com/prometheus-msteams/prometheus-msteams#simulating-a-prometheus-alerts-to-teams-channel)? With this you can easier debug and not rely on Prometheus Alertmanager to test the connection.
Can you please tell me how you'v

[2021-06-13 14:21] baraconguyen commented on #212
Dear sir, my setting env variables proxy

[2021-06-13 15:14] baraconguyen commented on #212
I try to simluate a Prometheus alert by sending a POST request directly to prometheus-msteams and the information bellow.

[2021-06-14 06:47] Knappek commented on #212
Your test shows that you can reach `prometheus-msteams`, but `prometheus-msteams` does not seem to reach your webhook URL. Next step would be to check whether you see incoming requests at the proxy.

[2021-06-14 14:19] baraconguyen commented on #212
Thanks sir, i saw the prometheus-msteams reach but it doesn't post to webhook URL yet.

i don't know how to check incoming request at the proxy

[2021-06-15 01:04] baraconguyen commented on #212
Thanks sir for support, im very happy infor to you. I had fixed the problem successfull
- the problem: i must add the enviroment proxy in the service of prometheus-msteams ---> its work

[2021-06-15 11:08] #212 closed

[2021-06-15 11:08] baraconguyen commented on #212
Thanks sir Knappek

[2021-06-20 19:49] Knappek commented on #212
Great, glad it works now!

[2021-07-01 18:54] #209 closed

[2021-07-06 15:09] StephJon commented on #105
I'm having a similar issue, except I'm able to manually curl to the webhook url.

`curl -X POST -d @prom-alert.json 127.0.0.1:2000/alertmanager`

- **output:** http client failed: Post https://lightingaad.webhook.office.com/webhookb2/-redacted-: POST https://lightingaad.webhook.office.com/webhookb2/-redacted- giving up after 4 attempt(s): Post https://lightingaad.webhook.office.com/webhookb2/-reda

[2021-07-07 11:29] alfador1 opened #215 "[FEATURE] Message card flexibility. How to access job name parameter?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Hello guys,
It maybe more like an exploration question then an issue.
So I night your advice on it. I tried to contact you through microsoft teams channel in "Contribution page", but alas I couldn't.

So basically on the topic.
I'm trying t

[2021-07-07 12:54] Knappek commented on #105
@StephJon it seems like you don't have connectivity from `prometheus-msteams` to MS Teams. Can you elaborate please how `prometheus-msteams` is running? Is it running on Kubernetes, docker, on a linux host etc? What's the network architecture underneath, does it have internet access  etc.?

[2021-07-07 13:02] StephJon commented on #105
Prometheus-msteams is running on docker (through snap).
It does have internet access and I'm running behind a corporate proxy.

When initially setting it up, I used the command:
`/snap/bin/docker run -d -p 2000:2000 \`
`    --name="promteams" \`
`    -e TEAMS_INCOMING_WEBHOOK_URL="https://lightingaad.webhook.office.com/webhookb2/-radacted-" \`
`    -e TEAMS_REQUEST_URI=alertmanager \`
`    quay.io

[2021-07-12 22:22] wicked1133 commented on #202
+1
looking forward to see this feature soon 👍

[2021-07-15 14:30] Knappek commented on #105
This is odd when I can directly POST to the webhook url.

I don't understand this comment. What is the `blocking issue` and what is `the timeout as indicated in my previous comment`? Why should it be odd to have a different behaviour when calling `localhost` as opposed to a public MS team webhook URL?

Regarding your docker setup, did you consider to [configure Docker to use a proxy server](https:

[2021-07-15 14:34] Knappek commented on #215
Hi @alfador1, `.labels.job` does not exist at a global scope but only at the `Alert` level and with capital `L`. See the [Prometheus Alertmanager Notification template reference](https://prometheus.io/docs/alerting/latest/notifications/) for further information.

[2021-07-19 00:00] corporate-gadfly opened #217 "README files specifies confusing command usage"
**Describe the bug**
`README.md` specifies confusing code snippets in a couple of places

**Version**
[code]
In a couple of places, incorrect syntax for the binary is specified in `README.md`, e.g.:
[code]
Correct version should be:
[code]

[2021-07-19 12:28] alfador1 commented on #215
@Knappek So as of your example it should be "title": "{{- if eq .$alert.Labels. $job "blackbox" -}}. if I understand right?

[2021-07-19 18:15] corporate-gadfly commented on #217
On another note, is this the correct way to turn off debug _(which is true, by default)_?
[code]

[2021-07-20 16:19] Knappek commented on #215
`.Alerts` is an array, see the following example request:

[code]

So one Prometheus alert can contain multiple `alerts`. Hence, there is no 1-to-1 relationship between your the `title` and the job name of one of the alerts.

Anyway, if you are still trying to have a conditional title based on the first alerts job name, you could use the following template, which is basically the same as the defau

[2021-07-20 16:26] Knappek commented on #217
It has to be `-debug=false`

[2021-07-20 16:28] Knappek commented on #217
good catch with the documentation

[2021-07-20 16:30] Knappek commented on #217
could you please review the PR?

[2021-07-30 01:17] chiaminchuang opened #219 "[FEATURE] Member tagging"
Hello,
Is it possible to tag members (ex: @eddie) through promteams to notify the specific members of a new alert related to them?
Thank you for your great project!!

[2021-07-30 11:29] Knappek commented on #219
Hi @chiaminchuang you find information [here](https://answers.microsoft.com/en-us/msteams/forum/all/is-it-possible-to-tag-team-members-in-a-card/4218ef31-71ad-45e0-a478-43ef804ba714).

[2021-07-30 11:29] #219 closed

[2021-08-02 02:31] chiaminchuang commented on #219
Thank you for your reply. It helps me a lot!!

[2021-08-03 07:08] Knappek commented on #219
ICYMI, there is an open issue for Adaptive card support: #202 . If you'd like to contribute to this project, feel free to pick that issue :)

[2021-09-02 11:51] FireEmerald opened #221 "[FEATURE] Update sprig dependency to latest version (and also others)"
**Is your feature request related to a problem? Please describe.**
All templates may use any function of the `sprig` package. Unfortunately the version we use is **heavily outdated** (2019!). This means some functions are not useable like in the official documentation of the latest version.

**Describe the solution you'd like**
Update the `sprig` dependency. Unfortunately this means to update `hel

[2021-09-08 06:31] Knappek commented on #221
@FireEmerald thanks for this issue. I don't understand, why is it related to helm? `sprig` is used in the source code and not in the helm chart.

[2021-09-08 06:46] FireEmerald commented on #221
@Knappek Take a look at our `go.mod` file where all imports are listed:
https://github.com/prometheus-msteams/prometheus-msteams/blob/d7ce7078b46827490ae26ed86d056234f3d0df15/go.mod#L8

The dependency is imported **"indirect"**, which means we do not import it on our own, we import it because another dependency requires it. And the "other" dependency is helm as you can see here we access it:

http

[2021-09-09 12:42] FireEmerald opened #223 "[FEATURE] Add support for variable expansion in config.yml"
**Is your feature request related to a problem? Please describe.**
More customizability for the application like explained [here](https://mtyurt.net/post/go-using-environment-variables-in-configuration-files.html).

**Describe the solution you'd like**
Replace current implementation:
https://github.com/prometheus-msteams/prometheus-msteams/blob/d7ce7078b46827490ae26ed86d056234f3d0df15/cmd/server/m

[2021-09-15 16:06] gcpcloudreddy opened #224 "[BUG] How to start the prometheus - msteams with different context like /teams instead of host:port/ ?"
**Describe the bug**
A clear and concise description of what the bug is.

**Version**
The docker image or release version of prometheus-msteams.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen. Provide logs, metrics or traces if possible.

**Screenshots**
If applicable, add screenshots to help explain your pro

[2021-09-16 06:53] Knappek commented on #224
@gcpcloudreddy could you please elaborate on this?

[2021-09-17 06:38] FireEmerald opened #225 "[BUG] Request timeout between MS Teams and prometheus-msteams"
**Describe the bug**
A call to _MS Teams_ may take >10 seconds to complete. In such a situation we do not wait for the request to complete, a timeout kicks in, we cancel the request `response_status=0` and return a `status=500` code to e.g. _prometheus-alertmanager_.

[code]

I don't know which timeout it is but i think [http.Client.Timeout](https://cs.opensource.google/go/go/+/refs/tags/go1.17.1:

[2021-09-23 14:21] canelkatmis commented on #208
Increasing limit memory from 32M to 64M fixed it on my cluster(ocp 4.6)

[2021-09-24 20:05] laghoule commented on #191
This bug leak the webhook URL in the log:
2021/09/24 19:44:55 [DEBUG] POST https://RETRACTED.webhook.office.com/webhookb2/RETRACTED/IncomingWebhook/RETRACTED/RETRACTED

[2021-09-24 22:55] laghoule commented on #191
@Knappek
go-retryablehttp lib at https://github.com/hashicorp/go-retryablehttp/blob/master/client.go#L546
so at https://github.com/prometheus-msteams/prometheus-msteams/blob/master/cmd/server/main.go#L199 adding
`retryClient.Logger = nil` fix the leak.

[2021-10-01 05:52] ralfovelgoenne opened #227 "[BUG] 404 for https://prometheus-msteams.github.io/prometheus-msteams/"
**Describe the bug**
https://prometheus-msteams.github.io/prometheus-msteams/ gives a 404

How can I use:
helm repo add prometheus-msteams https://prometheus-msteams.github.io/prometheus-msteams/

[2021-10-04 14:49] ralfovelgoenne commented on #227
I managed to get it to work, I was just confused about version 1.5.0 vs 1.3.0.

[2021-10-04 14:49] #227 closed

[2021-10-05 13:39] cbryant42 opened #228 "Docker default config.yml example"
Hi, I wasn't sure where to post this to, so feel free to remove if this isn't the place, but I wanted to know if there was documentation around the syntax for a Docker yml file to build from. My use case dictates using a .yml file to build and deploy to an existing stack, but I can't seem to get this method to work, but I can get it to work using the docker run ... command given in the README.

My